#expenses-view
	button#responsive-btn.btn.btn-primary(ng-click="isRightBlockShow = !isRightBlockShow")
		| New expense&nbsp;
		i.fa.fa-chevron-right(ng-show="!isRightBlockShow")
		i.fa.fa-chevron-down(ng-show="isRightBlockShow")
	#rightBlock(ng-class="{showBlock: isRightBlockShow}")
		.exchange
			b Today's exchange rate
			br
			|{{exchangeRate}} UAH for 1 USD
		form.expense-form(name="expenseForm", ng-controller="ExpenseFormController as formCtrl",
		ng-submit="expenseForm.$valid && formCtrl.createExpense(categoryModel, subcategoryModel)", novalidate)
			input.form-control(type="text", name='Name', placeholder='Expense name', ng-model="formCtrl.expense.name", typeahead="expense.name for expense in expCtr.allExpenses | filter:$viewValue | limitTo:8", required)
			input.form-control(type='date', name='Date', placeholder='Date', ng-model="formCtrl.date", required)
			select(name='Category', ng-model="categoryModel", ng-change="formCtrl.getSubcategories(categoryModel)",
			ng-options="category.name for category in formCtrl.categories", required)
				option(value="") Category
			select(name='Subcategory', ng-model="subcategoryModel",
			ng-options="subcategory.name for subcategory in formCtrl.subcategories", ng-change="formCtrl.setLeftSubcategoryBudget(categoryModel, subcategoryModel)", required)
				option(value="") Subcategory
			input.form-control(type='number', min="0", name='Cost', placeholder='Cost', ng-model="formCtrl.expense.price", required)
			select.form-control(name='Currency', ng-model="formCtrl.expense.currency", ng-change="formCtrl.changeCurrency(categoryModel, subcategoryModel)", required)
				option USD
				option UAH
			#personal-container
				input(type='checkbox', name='Personal', ng-model="formCtrl.expense.personal", ng-click="formCtrl.setPersonalLeftBudget(categoryModel, subcategoryModel)")
				span#personal-label Use personal budget
			textarea.form-control(placeholder='Description', ng-model="formCtrl.expense.description")
			.money-left(ng-show="subcategoryModel")
				#form-category-left
					b {{formCtrl.budgetType}} budget left:
					span.green  {{formCtrl.leftBudget - formCtrl.expense.price | currency:""}} {{formCtrl.expense.currency}}
				#form-subcategory-left(ng-hide="formCtrl.expense.personal")
					br
					b {{subcategoryModel.name}} budget left:&nbsp;
					span.green {{formCtrl.leftSubcategoryBudget - formCtrl.expense.price | currency:""}} {{formCtrl.expense.currency}}
			button.btnAdd.btn.btn-primary(type="submit") Add expense
	#leftBlock
		.filters
			form
				input(type='text', name='cost-range', placeholder='Expense name', ng-model="nameModelFilter")
				select(name='category', ng-model="categoryModelFilter", ng-change="expCtr.getSubcategories(categoryModelFilter.id)", ng-options="category.name for category in expCtr.categories")
					option(value="") Category
				select(name='subcategory', ng-model="subcategoryModelFilter", ng-options="subcategory.name for subcategory in expCtr.subcategories")
					option(value="") Subcategory
				input(type="text", name='author', placeholder='Author', ng-model="authorModelFilter", typeahead="expense.creator.name for expense in expCtr.allExpenses | filter:$viewValue | limitTo:8")
				a#excel-button.btn.btn-success(ng-click='expCtr.exportData(filteredData)') Export to Excel
					i.fa.fa-file-excel-o.fa-1g
				input(type='date', name='startDate', placeholder='Date', ng-model="startDateFilter")
				input(type='date', name='endDate', placeholder='Date', ng-model="endDateFilter")

		table.table-hover.fixed
			colgroup
				col.table-date-header.responsive-hide
				col.table-category
				col.table-expense.responsive-hide
				col.table-cost
				col.table-carrency
				col.table-sub
				col.table-addBy.responsive-hide
				col.table-description-header.responsive-hide
			thead
				tr
					th.responsive-hide
						span(ng-click="expCtr.toggleSorting('time')") Date&nbsp;
							span.fa.fa-caret-down(ng-if="expCtr.getSortingStatus('time') === 1")
							span.fa.fa-caret-up(ng-if="expCtr.getSortingStatus('time') === -1")
							span.fa.fa-sort(ng-if="expCtr.getSortingStatus('time') === 0")
					th
						span(ng-click="expCtr.toggleSorting('categoryId')") Category&nbsp;
							span.fa.fa-caret-down(ng-if="expCtr.getSortingStatus('categoryId') === 1")
							span.fa.fa-caret-up(ng-if="expCtr.getSortingStatus('categoryId') === -1")
							span.fa.fa-sort(ng-if="expCtr.getSortingStatus('categoryId') === 0")
					th#header-sub.responsive-hide
						span(ng-click="expCtr.toggleSorting('subcategoryId')") Subcat.&nbsp;
							span.fa.fa-caret-down(ng-if="expCtr.getSortingStatus('subcategoryId') === 1")
							span.fa.fa-caret-up(ng-if="expCtr.getSortingStatus('subcategoryId') === -1")
							span.fa.fa-sort(ng-if="expCtr.getSortingStatus('subcategoryId') === 0")
					th
						span(ng-click="expCtr.toggleSorting('name')") Name&nbsp;
							span.fa.fa-caret-down(ng-if="expCtr.getSortingStatus('name') === 1")
							span.fa.fa-caret-up(ng-if="expCtr.getSortingStatus('name') === -1")
							span.fa.fa-sort(ng-if="expCtr.getSortingStatus('name') === 0")
					th
						span(ng-click="expCtr.toggleSorting('price')") Price&nbsp;
							span.fa.fa-caret-down(ng-if="expCtr.getSortingStatus('price') === 1")
							span.fa.fa-caret-up(ng-if="expCtr.getSortingStatus('price') === -1")
							span.fa.fa-sort(ng-if="expCtr.getSortingStatus('price') === 0")
					th
						.dropdown
							button#currencyDropdown.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") {{expCtr.currency}}&nbsp;
								span.fa.fa-caret-down
							ul.dropdown-menu(aria-labelledby="currencyDropdown")
								li(ng-click="expCtr.currency = 'UAH'")
									a(href) UAH
								li(ng-click="expCtr.currency = 'USD'")
									a(href) USD
								li(ng-click="expCtr.currency = 'ANY'")
									a(href) Original
					th.responsive-hide
						span(ng-click="expCtr.toggleSorting('creatorId')") Added by&nbsp;
							span.fa.fa-caret-down(ng-if="expCtr.getSortingStatus('creatorId') === 1")
							span.fa.fa-caret-up(ng-if="expCtr.getSortingStatus('creatorId') === -1")
							span.fa.fa-sort(ng-if="expCtr.getSortingStatus('creatorId') === 0")
					th.responsive-hide
						i.fa.fa-cog
		#main
			table.table-hover.fixed
				colgroup
					col.table-date.responsive-hide
					col.table-category
					col.table-expense.responsive-hide
					col.table-cost
					col.table-carrency
					col.table-sub
					col.table-addBy.responsive-hide
					col.table-description.responsive-hide
				tbody(ng-repeat="section in expCtr.expensesSections")
					tr.section-header
						td(colspan='8') {{ section.title }}
					tr(ng-repeat="expense in section.content")
						td.responsive-hide {{ expCtr.timeToDate(expense.time) | date:"dd.MM.yyyy HH:mm" }}
						td
							span(editable-select='expense.category.id', e-name='categoryId', e-form='rowform', e-ng-options='category.id as category.name for category in expCtr.categories', onshow='expCtr.getSubcategories($data)', e-ng-change='expCtr.getSubcategories($data)', onbeforesave='expCtr.checkCategory($data)')
								| {{ expense.category.name || 'empty' }}
						td.responsive-hide
							span(editable-select='expense.subcategory.id', e-name='subcategoryId', e-form='rowform', e-ng-options='subcategory.id as subcategory.name for subcategory in expCtr.subcategories', onbeforesave='expCtr.checkCategory($data)')
								| {{ expense.subcategory.name || 'empty' }}
						td
							span(editable-text='expense.name', e-name='name', e-form='rowform', onbeforesave='expCtr.checkName($data)')
								| {{ expense.name || 'empty' }}
						td
							span(editable-number='expense.price', e-name='price', e-form='rowform', onbeforesave='expCtr.checkPrice($data)')
								| {{ expCtr.getDisplayPrice(expense) || '0' | currency:''}}
						td
							span(editable-select='expense.currency', e-name='currency', e-form='rowform', e-ng-options='currency for currency in expCtr.currencies')
								| {{ expense.currency || 'empty' }}
						td.responsive-hide {{ expense.creator.name }}
						td.responsive-hide
							form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible', onbeforesave='expCtr.checkSubcategory($data)', onaftersave="expCtr.updateExpense(expense)")
								button.btn-xs.btn.btn-success.fa.fa-check(type='submit', ng-disabled='rowform.$waiting')
								button#delete-button.btn-xs.btn.btn-warning.fa.fa-ban(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
							.buttons(ng-show='!rowform.$visible')
								button.btn-xs.btn.btn-primary.edit-button.fa.fa-pencil(ng-click='rowform.$show()')
								button.btn-xs.btn.btn-danger.fa.fa-trash-o(ng-click="expCtr.deleteExpense(expense)")
							.btn-group(dropdown='')
								button.btn.fa.fa-info(ng-show='!rowform.$visible && expense.description != ""' type='button', dropdown-toggle='')
								span.dropdown-menu.dropdown-menu-right(editable-text='expense.description', e-name='description' e-form='rowform' role='menu', aria-labelledby='split-button') {{ expense.description }}
				tbody(ng-if="expCtr.expensesQuery.limit === expCtr.expenses.length")
					tr
						td(colspan='8')
							a(ng-click="expCtr.loadMoreExpenses(10)")
								| load more expenses&nbsp;
								i.fa.fa-plus
					tr(ng-if="expCtr.expensesQuery.limit < 10000")
						td(colspan='8')
							a(ng-click="expCtr.loadMoreExpenses(10000)")
								| load more expenses&nbsp;
								i.fa.fa-plus
