#expenses-view
	#rightBlock
		.exchange
			b Today currency exchange rate
			br
			|{{exchangeRate}} UAH for 1 USD
		form.expense-form(name="expenseForm", ng-controller="ExpenseFormController as formCtrl",
		ng-submit="expenseForm.$valid && formCtrl.createExpense(categoryModel, subcategoryModel)", novalidate)
			input.form-control(type="text", name='Name', placeholder='Expense', ng-model="formCtrl.expense.name", typeahead="expense.name for expense in expCtr.allExpenses | filter:$viewValue | limitTo:8", required)
			input.form-control(type='date', name='Date', placeholder='Date', ng-model="formCtrl.date", required)
			select(name='Category', ng-model="categoryModel", ng-change="formCtrl.getSubcategories(categoryModel)",
			ng-options="category.name for category in formCtrl.categories", required)
				option(value="") Category
			select(name='Subcategory', ng-model="subcategoryModel",
			ng-options="subcategory.name for subcategory in formCtrl.subcategories", ng-change="formCtrl.setLeftSubcategoryBudget(categoryModel, subcategoryModel)", required)
				option(value="") Subcategory
			input.form-control(type='number', min="0", name='Cost', placeholder='Cost', ng-model="formCtrl.expense.price", required)
			select.form-control(name='Currency', ng-model="formCtrl.expense.currency", ng-change="formCtrl.changeCurrency(categoryModel, subcategoryModel)", required)
				option USD
				option UAH
			#personal-container
				input(type='checkbox', name='Personal', ng-model="formCtrl.expense.personal", ng-click="formCtrl.setPersonalLeftBudget(categoryModel)")
				span#personal-label Personal budget
			textarea.form-control(placeholder='Description', ng-model="formCtrl.expense.description")
			.money-left(ng-show="subcategoryModel")
				#form-category-left
					b {{categoryModel.name}} budget left:
					span.green  {{formCtrl.leftBudget - formCtrl.expense.price | currency:""}} {{formCtrl.expense.currency}}
				#form-subcategory-left(ng-hide="formCtrl.expense.personal")
					br
					b {{subcategoryModel.name}} budget left:&nbsp;
					span.green {{formCtrl.leftSubcategoryBudget - formCtrl.expense.price | currency:""}} {{formCtrl.expense.currency}}
			button.btnAdd.btn.btn-primary(type="submit") Add expense
	#leftBlock
		.filters
			form
				input(type='text', name='cost-range', placeholder='Expense', ng-model="nameModelFilter")
				select(name='category', ng-model="categoryModelFilter", ng-change="expCtr.getSubcategories(categoryModelFilter.id)", ng-options="category.name for category in expCtr.categories")
					option(value="") Category
				select(name='subcategory', ng-model="subcategoryModelFilter", ng-options="subcategory.name for subcategory in expCtr.subcategories")
					option(value="") Subcategory
				input(type="text", name='author', placeholder='Author', ng-model="authorModelFilter", typeahead="expense.creator.name for expense in expCtr.allExpenses | filter:$viewValue | limitTo:8")
				//input(type='text', name='author', placeholder='Author', ng-model="authorModelFilter")
				a#excel-button.btn.btn-success(ng-click='expCtr.exportData(filteredData)') Export to Excel
					i.fa.fa-file-excel-o.fa-1g
				input(type='date', name='startDate', placeholder='Date', ng-model="startDateFilter")
				input(type='date', name='endDate', placeholder='Date', ng-model="endDateFilter")

		table.table-hover.fixed
			colgroup
				col.table-toggle
				col.table-date-header
				col.table-category
				col.table-expense
				col.table-cost
				col.table-carrency
				col.table-sub
				col.table-addBy
				col.table-description-header
			thead
				tr
					th
						button.fa.fa-list(ng-click='expCtr.toggleAllExpenses()' ng-show='expCtr.check')
						button.fa.fa-th(ng-click='expCtr.toggleAllExpenses()' ng-hide='expCtr.check')
					th
						| Time
					th
						| Category
					th
						| Subcategory
					th
						| Name
					th 
						span(ng-click="sortType = 'price'; sortReverse = !sortReverse; expCtr.sort(sortType, sortReverse)") Amount &nbsp;
							span.fa.fa-caret-down(ng-show="sortType == 'price' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'price' && sortReverse")
							span.fa.fa-sort(ng-hide="sortType == 'price'")
					th
						span(ng-click="sortType = 'currency'; sortReverse = !sortReverse; expCtr.sort(sortType, sortReverse)") $ / &#8372; &nbsp;
							span.fa.fa-caret-down(ng-show="sortType == 'currency' && !sortReverse")
							span.fa.fa-caret-up(ng-show="sortType == 'currency' && sortReverse")
							span.fa.fa-sort(ng-hide="sortType == 'currency'")
					th
						| Added by
					th
						i.fa.fa-cog
		#main
			table.table-hover.fixed
				colgroup
					col.table-date
					col.table-category
					col.table-expense
					col.table-cost
					col.table-carrency
					col.table-sub
					col.table-addBy
					col.table-description
				tbody(ng-repeat="date in expCtr.dates | limitTo: expCtr.expensesLimit", ng-hide="!(filteredData = (expCtr.getExpensesByDate(date) " +
				"| filter: {name: nameModelFilter, category: {name: categoryModelFilter.name}, " +
				"subcategory: {name: subcategoryModelFilter.name}, creator: {name: authorModelFilter}} " +
				"| dateRange:startDateFilter:endDateFilter)).length")
					tr.date-hilight
						td
							i.fa.fa-chevron-right(ng-click="expCtr.toggleCustom($index)" ng-hide="!expCtr.hiddenList[$index]" )
							i.fa.fa-chevron-down(ng-click="expCtr.toggleCustom($index)" ng-show="!expCtr.hiddenList[$index]")
						td(colspan='7')

							| {{ date | date:'MMM-dd-yyyy' }}
					tr(ng-repeat="expense in filteredData", ng-init='expCtr.pageTitleEquals(filteredData)', ng-hide="expCtr.hiddenList[$parent.$index]" )
						td
							| {{ expense.time | date:'HH:mm' }}
						td
							span(editable-select='expense.category.id', e-name='category.name', onshow="expCtr.getSubcategories($data)", e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "categoryId")', e-ng-options='category.id as category.name for category in expCtr.categories' e-ng-change="expCtr.getSubcategories($data)", e-required="")
								| {{ expCtr.getField(expense.category.id, "category") || 'empty' }}
						td
							span(editable-select='expense.subcategory.id', e-name='subcategory.name', e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "subcategoryId")', onbeforesave="expCtr.checkField($data)", e-ng-options='subcategory.id as subcategory.name for subcategory in expCtr.subcategories', e-required="")
								| {{ expCtr.getField(expense.subcategory.id, "subcategory") || expense.subcategory.name }}
						td
							span(editable-text='expense.name', e-name='name', e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "name")', onbeforesave="expCtr.checkField($data)", e-required="")
								| {{ expense.name  || 'empty' }}
						td
							span(editable-number='expense.price', e-name='price', e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "price")', onbeforesave="expCtr.checkField($data)", e-required="")
								| {{ expense.price  || 'empty' }}
						td
							span(editable-select='expense.currency', e-name='currency', e-form='rowform', e-ng-options='currency for currency in expCtr.currency', onaftersave='expCtr.editExpenseObject($data, "currency")' e-required="")
								| {{ expense.currency }}
						td
							span(e-name='creator', e-form='rowform') {{ expense.creator.name }}
						td
							form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible', onaftersave="expCtr.editExpense(expense.id)", shown='inserted == expense')

								button.btn-xs.btn.btn-success.fa.fa-check(type='submit', ng-disabled='rowform.$waiting')
								button#delete-button.btn-xs.btn.btn-warning.fa.fa-ban(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
							.buttons(ng-show='!rowform.$visible')
								button.btn-xs.btn.btn-primary.edit-button.fa.fa-pencil(ng-click='rowform.$show()')
								button.btn-xs.btn.btn-danger.fa.fa-trash-o(ng-click="expCtr.deleteExpense(expense.id, expense.name)")
							.btn-group(dropdown='')
								button.btn.fa.fa-info(ng-show='!rowform.$visible' type='button', dropdown-toggle='')
								span.dropdown-menu.dropdown-menu-right(editable-text='expense.description', e-name='description' onbeforesave="expCtr.checkField($data)" e-form='rowform' role='menu', aria-labelledby='split-button' onaftersave='expCtr.editExpenseObject($data, "description")') {{ expense.description }}
				tbody(ng-show="expCtr.isLoadMore()")
					tr
						td
						td(colspan='7')
							a(ng-click="expCtr.loadExpenses(); expCtr.pushList(true)")
								| load more expenses&nbsp;
								i.fa.fa-plus
