#expenses-view
	#rightBlock
		.exchange(ng-controller="CurrencyController as currencyCtrl")
			b Today currency exchange rate
			br
			|{{currencyCtrl.exchangeRate}} UAH for 1 USD
		form.expense-form(name="expenseForm", ng-controller="ExpenseFormController as formCtrl",
		ng-submit="expenseForm.$valid && formCtrl.createExpense(categoryModel, subcategoryModel)", novalidate)
			input.form-control(type='text', name='Name', placeholder='Expense', ng-model="formCtrl.expense.name", required)
			input.form-control(type='date', name='Date', placeholder='Date', ng-model="formCtrl.date", required)
			select(name='Category', ng-model="categoryModel", ng-change="formCtrl.getSubcategories(categoryModel)",
			ng-options="category.name for category in formCtrl.categories", required)
				option(value="") Category
			select(name='Subcategory', ng-model="subcategoryModel",
			ng-options="subcategory.name for subcategory in formCtrl.subcategories", required)
				option(value="") Subcategory
			input.form-control(type='number', name='Cost', placeholder='Cost', ng-model="formCtrl.expense.price", required)
			select.form-control(name='Currency', ng-model="formCtrl.expense.currency", required)
				option USD
				option UAH
			textarea.form-control(placeholder='Description', ng-model="formCtrl.expense.description", required)
			.money-left
				b Marketing budget:
				span.green $10000
				|  left
				br
				b Parties budget:
				span.green $3000
				|  left
			button.btnAdd(type="submit") Add expense
	#leftBlock
		.filters
			form
				input(type='text', name='cost-range', placeholder='Expense', ng-model="nameModelFilter")
				select(name='category', ng-model="categoryModelFilter", ng-change="expCtr.getSubcategories(categoryModelFilter.id)", ng-options="category.name for category in expCtr.categories")
					option(value="") Category
				select(name='subcategory', ng-model="subcategoryModelFilter", ng-options="subcategory.name for subcategory in expCtr.subcategories")
					option(value="") Subcategory
				input(type='text', name='author', placeholder='Author', ng-model="authorModelFilter")
				input(type='date', name='startDate', placeholder='Date', ng-model="startDateFilter")
				input(type='date', name='endDate', placeholder='Date', ng-model="endDateFilter")

		table.table-hover.fixed
			colgroup
				col.table-edit
				col.table-expense
				col.table-cost
				col.table-carrency
				col.table-category
				col.table-sub
				col.table-addBy
				col.table-description
			thead
				tr
					th
						| Edit
					th
						| Expense
					th
						| Cost
					th
						| $ / &#8372;
					th
						| Category
					th
						| Subcategory
					th
						| Added by
					th
						i.fa.fa-info-circle
		#main
			table.table-hover.fixed
				colgroup
					col.table-edit
					col.table-expense
					col.table-cost
					col.table-carrency
					col.table-category
					col.table-sub
					col.table-addBy
					col.table-description
				tbody(ng-repeat="date in expCtr.dates", ng-hide="!(filteredData = (expCtr.getExpensesByDate(date) " +
				"| filter: {name: nameModelFilter, categoryName: categoryModelFilter.name, " +
				"subcategoryName: subcategoryModelFilter.name, authorName: authorModelFilter} " +
				"| dateRange:startDateFilter:endDateFilter)).length")
					tr
						td
							i.fa.fa-chevron-right(ng-click="expCtr.toggleCustom($index)" ng-show="!expCtr.hiddenList[$index]")
							i.fa.fa-chevron-down(ng-click="expCtr.toggleCustom($index)" ng-hide="!expCtr.hiddenList[$index]")
						td(colspan='7')
							| {{date | date:"dd.MM.yyyy"}}
					tr(ng-repeat="expense in filteredData" ng-hide="!expCtr.hiddenList[$parent.$index]" )
						td(style='white-space: nowrap')
							// form
							form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible', onaftersave="expCtr.editExpense(expense.id)", shown='inserted == expense')

								button.btn-xs.btn.btn-primary(type='submit', ng-disabled='rowform.$waiting')
									| save
								button.btn-xs.btn.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
									| cancel
							.buttons(ng-show='!rowform.$visible')
								button.btn-xs.btn.btn-primary.edit-button(ng-click='rowform.$show()') edit
								button.btn-xs.btn.btn-danger(ng-click="expCtr.deleteExpense(expense.id, expense.name)") delete
						td
							span(editable-text='expense.name', e-name='name', e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "name")', onbeforesave="expCtr.checkField($data)", e-required="")
								| {{ expense.name  || 'empty' }}
						td
							span(editable-number='expense.price', e-name='price', e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "price")', onbeforesave="expCtr.checkField($data)", e-required="")
								| {{ expense.price  || 'empty' }}
						td
							span(editable-select='expense.currency', e-name='currency', e-form='rowform', e-ng-options='currency for currency in expCtr.currency', onaftersave='expCtr.editExpenseObject($data, "currency")' e-required="")
								| {{ expense.currency }}
						td
							span(editable-select='expense.category.id', e-name='category.name', onshow="expCtr.getSubcategories($data)", e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "categoryId")', e-ng-options='category.id as category.name for category in expCtr.categories' e-ng-change="expCtr.getSubcategories($data)", e-required="")
								| {{ expCtr.getField(expense.category.id, "category") || 'empty' }}
						td
							span(editable-select='expense.subcategory.id', e-name='subcategory.name', e-form='rowform', onaftersave='expCtr.editExpenseObject($data, "subcategoryId")', onbeforesave="expCtr.checkField($data)", e-ng-options='subcategory.id as subcategory.name for subcategory in expCtr.subcategories', e-required="")
								| {{ expCtr.getField(expense.subcategory.id, "subcategory") || expense.subcategory.name }}
						td
							span(e-name='creator', e-form='rowform') {{ expense.creator.name }}
						td.infoTd
							.btn-group(dropdown='')
								button.btn(type='button', dropdown-toggle='')
									i.fa.fa-info
								span.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='split-button') {{ expense.description }}
		button.load-more(ng-click="expCtr.loadExpenses()", ng-show="expCtr.isLoadMore()") Load more

