#expenses-view
  aside
    .exchange(ng-controller="CurrencyController as currencyCtrl")
      b Today currency exchange rate
      br
      |      {{currencyCtrl.exchangeRate}} UAH for 1 USD
    .form-preview
      | Add expense
      i.fa.fa-caret-down
    form.expense-form(name="expenseForm", ng-controller="ExpenseFormController as formCtrl",
      ng-submit="expenseForm.$valid && formCtrl.createExpense()", novalidate)
      input(type='text', name='Name', placeholder='Expense', ng-model="formCtrl.expense.name", required)
      select(name='Category', required)
        option Category
      select(name='Subcategory', placeholder='Subcategory', required)
        option Subcategory
      input(type='text', name='Date', placeholder='Date', ng-model="formCtrl.expense.date", required)
      input(type='number', name='Cost', placeholder='Cost', ng-model="formCtrl.expense.cost", required)
      select(name='Currency', ng-model="formCtrl.expense.currency", required)
        option USD
        option UAH
      textarea(placeholder='Description', ng-model="formCtrl.expense.description", required)
      .money-left
        b Marketing budget:
        span.green $10000
        |  left
        br
        b Parties budget:
        span.green $3000
        |  left
      button(type="submit") Add expense
  .filters
    .form-preview
      | Filters
      i.fa.fa-caret-down
    form
      input(type='text', name='cost-range', placeholder='Expense', ng-model="expCtr.filters.name", ng-change="expCtr.filterExpenses()")
      input(type='text', name='category', placeholder='Category', ng-model="expCtr.filters.category", ng-change="expCtr.filterExpenses()")
      input(type='text', name='subcategory', placeholder='Subcategory', ng-model="expCtr.filters.subcategory", ng-change="expCtr.filterExpenses()")
      input(type='text', name='author', placeholder='Author', ng-model="expCtr.filters.creator", ng-change="expCtr.filterExpenses()")
  #main
    accordion(close-others='oneAtATime')
      accordion-group(heading='{{date.time | date:"dd.MM.yyyy"}}', is-open="true", ng-repeat="date in expCtr.expenses | orderBy:'-date'")
        table.table.table-bordered.table-hover.table-condensed
          colgroup
            col.table-description
            col.table-expense
            col.table-cost
            col.table-category
            col.table-sub
            col.table-added
          thead
            tr
              th
                | Edit
              th
                | Expense
                i.fa.fa-caret-down
              th
                | Cost
                i.fa.fa-caret-down
              th
                | Category
                i.fa.fa-caret-down
              th
                | Subcategory
                i.fa.fa-caret-down
              th
                | Added by
                i.fa.fa-caret-down
              th
          tbody
            tr(ng-repeat="expense in expCtr.expenses | orderBy:expCtr.predicate:expCtr.reverse | filter: date.time")
              td(style='white-space: nowrap')
                // form
                form.form-buttons.form-inline(editable-form='' name='rowform', onbeforesave='saveUser($data, user.id)', ng-show='rowform.$visible', shown='inserted == expense')
                  button.btn.btn-primary(type='submit', ng-disabled='rowform.$waiting')
                    | save
                  button.btn.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
                    | cancel
                .buttons(ng-show='!rowform.$visible')
                  button.btn.btn-primary.edit-button(ng-click='rowform.$show()') edit
                  button.btn.btn-danger(ng-click="expCtr.deleteExpense(expense.id)") delete
              td
                span(editable-text='expense.name', e-name='name', e-form='rowform', onbeforesave='checkName($data, user.id)', e-required='')
                  | {{ expense.name  || 'empty' }}
              td
                span(editable-text='expense.price', e-name='price', e-form='rowform', onbeforesave='checkName($data, user.id)', e-required='')
                  | {{ expense.price  || 'empty' }} {{ expense.currency }}
              td
                span(editable-text='expense.categoryId.name', e-name='categoryId', e-form='rowform', onbeforesave='checkName($data, user.id)', e-required='')
                  | {{ expense.categoryId.name || 'empty' }}
              td
                span(editable-text='expense.subcategoryName', e-name='subcategoryName', e-form='rowform', onbeforesave='checkName($data, user.id)', e-required='')
                  | {{ expense.subcategoryName || 'empty' }}
              td
                span(editable-text='expense.creatorId.name', e-name='creatorId', e-form='rowform', onbeforesave='checkName($data, user.id)', e-required='')
                  | {{ expense.creatorId.name || 'empty' }}
              td
                .btn-group(dropdown='')
                  button.btn(type='button', dropdown-toggle='')
                    i.fa.fa-info
                  span.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='split-button')
                    | {{ expense.description }}

            tr#mobile
              td(colspan='3')
                table.shortTable
                  tr
                    td Expense
                    td {{ expense.expenseTable }}
                  tr
                    td Category
                    td {{ expense.category}}
                  tr
                    td Added by
                    td {{ expense.addBy }}
                  tr
                    td Description
                    td {{ expense.description }}
            //tr
            //tr#toggle
            //  td(colspan='6')
            //    span {{ expense.description }}
            //tr
            //  td.date-row(colspan='6') {{ expCtr.expens.date}}
            //tr
            //  td
            //    i.fa.fa-caret-right
            //  td {{ expense.expenseTable }}
            //  td {{ expense.costs }}
            //  td {{ expense.category}}
            //  td {{ expense.subcategory }}
            //  td {{ expense.addBy }}
    button.load-more(ng-click="expCtr.loadMoreExpenses()") Load more

