#expenses-view
	button#responsive-btn.btn.btn-primary(ng-click="isRightBlockShow = !isRightBlockShow")
		| New expense&nbsp;
		i.fa.fa-chevron-right(ng-show="!isRightBlockShow")
		i.fa.fa-chevron-down(ng-show="isRightBlockShow")
	#rightBlock(ng-class="{showBlock: isRightBlockShow}")
		.exchange
			b Today's exchange rate
			br
			|{{exchangeRate}} UAH for 1 USD
		form.expense-form(name="expenseForm", ng-submit="expenseForm.$valid && expCtrl.createExpense()", novalidate)
			input.form-control(type="text", name='Name', placeholder='Expense name', ng-model="expCtrl.newExpense.name", required)
			//- input.form-control(type='datetime-local', name='Date', placeholder='Date', ng-model="expCtrl.newExpense.date", ng-change="expCtrl.updateAnnualCategories()" min="{{expCtrl.minDate | date:'yyyy-MM-ddTHH:mm:ss'}}" max="{{expCtrl.maxDate | date:'yyyy-MM-ddTHH:mm:ss'}}" ng-required)

			input.form-control(type="text" name='Date' datepicker-popup="{{format}}" ng-model="expCtrl.newExpense.date" is-open="opened" datepicker-options="dateOptions" ng-change="expCtrl.updateAnnualCategories()" close-text="Close" min-date="expCtrl.minDate" max-date="expCtrl.maxDate" ng-click="opened = true" required ng-class="{'invalid-input': (expCtrl.newExpense.date > expCtrl.maxDate || expCtrl.newExpense.date < expCtrl.minDate)}")
			//- span(class="input-group-btn")
			//- 	button#pick-btn(type="button" class="btn btn-default" ng-click="opened = true")
			//- 		i(class="glyphicon glyphicon-calendar")
			div#time-wrapper
				timepicker(ng-model="expCtrl.newExpense.date" ng-change="expCtrl.updateAnnualCategories()" show-meridian="false" show-spinners="false" min="expCtrl.minDate" max="expCtrl.maxDate" ng-class="{'invalid-input': (expCtrl.newExpense.date > expCtrl.maxDate || expCtrl.newExpense.date < expCtrl.minDate)}" ng-required)

			select(name='Category', ng-model="expCtrl.newExpense.categoryId", ng-options="category.id as category.name for category in expCtrl.annualCategories", required)
				option(value="") Category
			select(name='Subcategory', ng-model="expCtrl.newExpense.subcategoryId", ng-options="subcategory.id as subcategory.name for subcategory in expCtrl.getAnnualSubcategories()", required)
				option(value="") Subcategory
			input.form-control(type='number', min="0", name='Price', placeholder='Price', ng-model="expCtrl.newExpense.price", required)
			select.form-control(name='Currency', ng-model="expCtrl.newExpense.currency", required)
				option UAH
				option USD
			#personal-container
				input(type='checkbox', name='Personal', ng-model="expCtrl.newExpense.personal")
				span#personal-label Use personal budget
			textarea.form-control(placeholder='Description', ng-model="expCtrl.newExpense.description")
			.money-left
				div(ng-if="expCtrl.newExpense.categoryId")
					b {{expCtrl.getAnnualCategory().name}} budget left:
					br
					span {{expCtrl.getAnnualCategory().left | currency:""}} USD ({{expCtrl.getAnnualCategory().left * exchangeRate | currency:""}} UAH)
					hr.h-rule(ng-if="expCtrl.newExpense.subcategoryId || expCtrl.newExpense.personal")
				div(ng-if="expCtrl.newExpense.subcategoryId")
					b {{expCtrl.getAnnualSubcategory().name}} budget left:
					br
					span {{expCtrl.getAnnualSubcategory().left | currency:""}} USD ({{expCtrl.getAnnualSubcategory().left * exchangeRate | currency:""}} UAH)
					hr.h-rule(ng-if="expCtrl.newExpense.personal")
				div(ng-if="expCtrl.newExpense.personal")
					b Personal budget left:
					br
					span {{currentUser.budget.left / exchangeRate | currency:""}} USD ({{currentUser.budget.left | currency:""}} UAH)
			button.btnAdd.btn.btn-primary(type="submit") Add expense
	#leftBlock
		.filters
			form
				input(type='text', name='cost-range', placeholder='Expense name', ng-model="expCtrl.expensesQuery.name", ng-change="expCtrl.updateExpenses()")
				select(name='category', ng-model="expCtrl.expensesQuery.categoryId", ng-change="expCtrl.updateExpenses()", ng-options="category.id as category.name for category in expCtrl.categories")
					option(value="") All Categories
				select(name='subcategory', ng-model="expCtrl.expensesQuery.subcategoryId", ng-options="subcategory.id as subcategory.name for subcategory in expCtrl.getSubcategories(expCtrl.expensesQuery.categoryId)", ng-change="expCtrl.updateExpenses()")
					option(value="") All Subcategories
				select(name='author', ng-model="expCtrl.expensesQuery.creatorId", ng-change="expCtrl.updateExpenses()", ng-options="user.serverUserId as user.name for user in expCtrl.users")
					option(value="") All users
				a#excel-button.btn.btn-success(ng-click='expCtrl.getExcelSheet()') Get Excel Sheet
					i.fa.fa-file-excel-o.fa-1g
				//- input(type='date', name='startDate', placeholder='Date', ng-model="expCtrl.expensesQuery.startDate", ng-change="expCtrl.updateExpenses()")

				input(type="text" name='startDate' datepicker-popup="{{format}}" ng-model="expCtrl.expensesQuery.startDate" is-open="startOpened" datepicker-options="dateOptions" ng-change="expCtrl.updateExpenses()" close-text="Close" ng-click="startOpened = true" max-date="expCtrl.expensesQuery.endDate")
				//- span(class="input-group-btn")
				//- 	button(type="button" class="btn btn-default" ng-click="startOpened = true")
				//- 		i(class="glyphicon glyphicon-calendar")


				//- input(type='date', name='endDate', placeholder='Date', ng-model="expCtrl.expensesQuery.endDate", ng-change="expCtrl.updateExpenses()")

				input(type="text" name='endDate' datepicker-popup="{{format}}" ng-model="expCtrl.expensesQuery.endDate" is-open="endOpened" datepicker-options="dateOptions" ng-change="expCtrl.updateExpenses()" close-text="Close" ng-click="endOpened = true" min-date="expCtrl.expensesQuery.startDate")
				//- span(class="input-group-btn")
				//- 	button(type="button" class="btn btn-default" ng-click="endOpened = true")
				//- 		i(class="glyphicon glyphicon-calendar")

				

		//- table#expenses.table-hover.fixed
		//- 	colgroup
		//- 		col.table-date-header.responsive-hide
		//- 		col.table-category
		//- 		col.table-expense.responsive-hide
		//- 		col.table-cost
		//- 		col.table-carrency
		//- 		col.table-sub
		//- 		col.table-addBy.responsive-hide
		//- 		col.table-description-header.responsive-hide
			
		#main
			table#expenses-table.table-hover.fixed
				colgroup
					col.table-date.mobile-hide
					col.table-category
					col.table-expense.responsive-hide
					col.table-cost
					col.table-carrency
					col.table-sub
					col.table-addBy.responsive-hide
					col.table-description.responsive-hide
				thead
					tr
						th.mobile-hide
							span(ng-click="expCtrl.toggleSorting('time')") Date&nbsp;
								span.fa.fa-caret-down(ng-if="expCtrl.getSortingStatus('time') === 1")
								span.fa.fa-caret-up(ng-if="expCtrl.getSortingStatus('time') === -1")
								span.fa.fa-sort(ng-if="expCtrl.getSortingStatus('time') === 0")
						th
							span(ng-click="false && expCtrl.toggleSorting('categoryId')") Category&nbsp;
								span.fa.fa-caret-down(ng-if="expCtrl.getSortingStatus('categoryId') === 1")
								span.fa.fa-caret-up(ng-if="expCtrl.getSortingStatus('categoryId') === -1")
								span.fa.fa-sort(ng-if="false && expCtrl.getSortingStatus('categoryId') === 0")
						th#header-sub.responsive-hide
							span(ng-click="false && expCtrl.toggleSorting('subcategoryId')") Subcat.&nbsp;
								span.fa.fa-caret-down(ng-if="expCtrl.getSortingStatus('subcategoryId') === 1")
								span.fa.fa-caret-up(ng-if="expCtrl.getSortingStatus('subcategoryId') === -1")
								span.fa.fa-sort(ng-if="false && expCtrl.getSortingStatus('subcategoryId') === 0")
						th
							span(ng-click="false && expCtrl.toggleSorting('name')") Name&nbsp;
								span.fa.fa-caret-down(ng-if="expCtrl.getSortingStatus('name') === 1")
								span.fa.fa-caret-up(ng-if="expCtrl.getSortingStatus('name') === -1")
								span.fa.fa-sort(ng-if="false && expCtrl.getSortingStatus('name') === 0")
						th
							span(ng-click="expCtrl.toggleSorting('price')") Price&nbsp;
								span.fa.fa-caret-down(ng-if="expCtrl.getSortingStatus('price') === 1")
								span.fa.fa-caret-up(ng-if="expCtrl.getSortingStatus('price') === -1")
								span.fa.fa-sort(ng-if="expCtrl.getSortingStatus('price') === 0")
						th
							.dropdown
								button#currencyDropdown.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") {{expCtrl.currency}}&nbsp;
									span.fa.fa-caret-down
								ul#currency-list.dropdown-menu(aria-labelledby="currencyDropdown")
									li(ng-click="expCtrl.currency = 'UAH'") UAH
									li(ng-click="expCtrl.currency = 'USD'") USD
									li(ng-click="expCtrl.currency = 'Original'") Original
						th.responsive-hide
							span(ng-click="false && expCtrl.toggleSorting('creatorId')") Added by&nbsp;
								span.fa.fa-caret-down(ng-if="expCtrl.getSortingStatus('creatorId') === 1")
								span.fa.fa-caret-up(ng-if="expCtrl.getSortingStatus('creatorId') === -1")
								span.fa.fa-sort(ng-if="false && expCtrl.getSortingStatus('creatorId') === 0")
						th.responsive-hide
							span Edit & Info
				tbody(ng-repeat="section in expCtrl.expensesSections")
					tr.section-header
						td(colspan='8' ng-click='section.opened = !section.opened')
							span(ng-if='section.opened')
								i.fa.fa-chevron-down
							span(ng-if='!section.opened')
								i.fa.fa-chevron-right
							span  {{ section.title }}
					tr(ng-repeat="expense in section.content" ng-show='section.opened')
						td.mobile-hide {{ expCtrl.timeToDate(expense.time) | date:"dd.MM.yyyy HH:mm" }}
						td
							span(editable-select='expense.category.id', e-name='categoryId', e-form='rowform', e-ng-options='category.id as category.name for category in expCtrl.categories', onshow='expCtrl.updateSubcategories($data)', e-ng-change='expCtrl.updateSubcategories($data)', onbeforesave='expCtrl.checkCategory($data)')
								| {{ expense.category.name || 'empty' }}
						td.responsive-hide
							span(editable-select='expense.subcategory.id', e-name='subcategoryId', e-form='rowform', e-ng-options='subcategory.id as subcategory.name for subcategory in expCtrl.subcategories', onbeforesave='expCtrl.checkCategory($data)')
								| {{ expense.subcategory.name || 'empty' }}
						td
							span(editable-text='expense.name', e-name='name', e-form='rowform', onbeforesave='expCtrl.checkName($data)')
								| {{ expense.name || 'empty' }}
						td
							span(editable-number='expense.price', e-name='price', e-form='rowform', onbeforesave='expCtrl.checkPrice($data)')
								| {{ expCtrl.getDisplayPrice(expense) || '0' | currency:''}}
						td
							span(editable-select='expense.currency', e-name='currency', e-form='rowform', e-ng-options='currency for currency in expCtrl.currencies')
								| {{ expCtrl.getDisplayCurrency(expense) || 'empty' }}
						td.responsive-hide {{ expense.creator.name }}
						td.responsive-hide
							form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible', onbeforesave='expCtrl.checkSubcategory($data)', onaftersave="expCtrl.updateExpense(expense)")
								button.btn-xs.btn.btn-success.fa.fa-check(type='submit', ng-disabled='rowform.$waiting')
								button#delete-button.btn-xs.btn.btn-warning.fa.fa-ban(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel();expCtrl.editingStatus = false')
							.buttons(ng-show='!rowform.$visible' ng-if='expCtrl.allowedToEdit(expense) || currentUser.admin || currentUser.role === "ADMIN"')
								button.btn-xs.btn.btn-primary.edit-button.fa.fa-pencil(ng-click='rowform.$show();expCtrl.editingStatus = true', ng-disabled='expCtrl.editingStatus')
								button.btn-xs.btn.btn-danger.fa.fa-trash-o(ng-click="expCtrl.deleteExpense(expense)")
							.btn-group(dropdown='')
								button.btn.fa.fa-info(ng-show='!rowform.$visible && expense.description != ""' type='button', dropdown-toggle='')
								span.dropdown-menu.dropdown-menu-right(editable-text='expense.description', e-name='description' e-form='rowform' role='menu', aria-labelledby='split-button') {{ expense.description }}
					tr(ng-if="expCtrl.expenses.length === 0")
						td(colspan='8') No expenses found
				tbody(ng-if="expCtrl.expensesQuery.limit === expCtrl.expenses.length")
					tr
						td(colspan='8')
							a(ng-click="expCtrl.loadMoreExpenses(10)")
								| load 10 more&nbsp;
								i.fa.fa-plus
					tr(ng-if="expCtrl.expensesQuery.limit < 999999")
						td(colspan='8')
							a(ng-click="expCtrl.loadMoreExpenses(999999)")
								| load all&nbsp;
								i.fa.fa-plus