extends ./layout


block body
  #menu-view(ng-controller='HomepageController')
    header
      i#menu-btn.fa.fa-bars
      #page-name Accounting app
      #user-info
        img#user-logo(src='http://i.imgur.com/wNqHnG6.png', alt='user logo')
        a(href="/#/personal") &nbsp;{{currentUser.name}}&nbsp;
        a.btn.btn-warning(href="/logout") Log Out
    nav
      ul.nav.nav-tabs.tabs-left
        li
          a(href='#/expenses', ng-class="{'active-tab':$route.current.activetab == 'expenses'}", data-toggle='tab') Expenses
        li
          a(href='#/planning', ng-class="{'active-tab':$route.current.activetab == 'planning'}", data-toggle='tab') Planning
        li
          a(href='#/charts', ng-class="{'active-tab':$route.current.activetab == 'charts'}", data-toggle='tab') Charts
        li
          a(href='#/personal', ng-class="{'active-tab':$route.current.activetab == 'personal'}", data-toggle='tab') Personal
        li
          a(href='#/administration', ng-class="{'active-tab':$route.current.activetab == 'administration'}", data-toggle='tab') Administration
    main
      .tab-content
        #expenses.tab-pane.active
          div(ng-view)
