extends ./layout


block body
	#menu-view(ng-controller='UsersController as menuCrt')
		header
			i#menu-btn.fa.fa-bars(ng-click='menuCrt.toggleMenu()')
			#page-name Accounting
			#user-info
				img#user-logo(src='http://lorempixel.com/40/40/cats/4/', alt='user logo')
				span#user-name John Connor
		nav(ng-class="{'menu-active': menuCrt.menuTabs}")
			ul.nav.nav-tabs.tabs-left
				li
					a(href='#/expenses', data-toggle='tab') Expenses
				li
					a(href='#/planning', data-toggle='tab') Planning
				li
					a(href='#/charts', data-toggle='tab') Charts
				li
					a(href='#/users', data-toggle='tab') Users
		main
			.tab-content
				#expenses.tab-pane.active
					div(ng-view)
