extends ./layout


block body
	header
		i#menu-btn.fa.fa-bars
		#page-name Accounting
		#user-info(ng-controller="UsersController as userCtrl")
			img#user-logo(src='http://lorempixel.com/40/40/cats/4/', alt='user logo')
			span#user-name {{userCtrl.currentUser.name}}
	nav
		ul.nav.nav-tabs.tabs-left
			li.active
				a(href='#/expenses', data-toggle='tab') Expenses
			li
				a(href='#/planning', data-toggle='tab') Planning
			li
				a(href='#/charts', data-toggle='tab') Charts
	#user-administration
		i.fa.fa-search.icon
		input(type='text', placeholder='search user', value='john')
		ul#users
			li
				b John Connor
				|  (admin)
			li.active
				b John Doe
				|  (manager)
			.wrapper
				.item
					.subitem.name.hidee
						b Categories
					.subitem.m
						b M
					.subitem.a
						b A
				.item
					.subitem.name HR
					.subitem
						input.man(type='checkbox', name='', id='')
						input.adm(type='checkbox', name='', id='')
				.item
					.subitem.name Marketing
					.subitem
						input.man(type='checkbox', checked='', name='', id='')
						input.adm(type='checkbox', name='', id='')
			li
				b John Oliver
				|  (owner)
			li
				b John Wayne
				|  (manager)
	main
				div(ng-view)
