doctype html
html(ng-app='accounting')
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/importer.css')
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

  body
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

    script(src="http://code.highcharts.com/highcharts.js")
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/administration/Administration.controller.js")
    script(src="/js/administration/index.js")
    script(src="/js/app-libs.js")
    script(src="/js/app.js")
    script(src="/js/bin/Bin.controller.js")
    script(src="/js/bin/index.js")
    script(src="/js/budgets/Budgets.controller.js")
    script(src="/js/budgets/Budgets.service.js")
    script(src="/js/budgets/index.js")
    script(src="/js/categories/Categories.controller.js")
    script(src="/js/categories/Categories.service.js")
    script(src="/js/categories/index.js")
    script(src="/js/charts/Charts.controller.js")
    script(src="/js/charts/Charts.service.js")
    script(src="/js/charts/index.js")
    script(src="/js/currency/Currency.controller.js")
    script(src="/js/currency/Currency.service.js")
    script(src="/js/currency/index.js")
    script(src="/js/expenses/DateRange.filter.js")
    script(src="/js/expenses/ExpenseForm.controller.js")
    script(src="/js/expenses/Expenses.controller.js")
    script(src="/js/expenses/Expenses.service.js")
    script(src="/js/expenses/index.js")
    script(src="/js/history/History.controller.js")
    script(src="/js/history/History.service.js")
    script(src="/js/history/index.js")
    script(src="/js/index.js")
    script(src="/js/personal/Personal.controller.js")
    script(src="/js/personal/Personal.service.js")
    script(src="/js/personal/index.js")
    script(src="/js/route.js")
    script(src="/js/shared/Homepage.controller.js")
    script(src="/js/shared/Years.service.js")
    script(src="/js/shared/index.js")
    script(src="/js/users/Users.controller.js")
    script(src="/js/users/Users.service.js")
    script(src="/js/users/index.js")
    // SCRIPTS END
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js")
    script(src='http://alasql.org/console/alasql.min.js')
    script(src='http://alasql.org/console/xlsx.core.min.js') 