#chart-view
	button#toggle-filters.btn.btn-primary(ng-click="showFilters = !showFilters")
		| Toggle filters&nbsp;
		i.fa.fa-chevron-right(ng-show="!showFilters")
		i.fa.fa-chevron-down(ng-show="showFilters")
	#filters(ng-class="{showFilters: showFilters}")
		#range-group.btn-group(ng-click="")
			label Range picker: 
				label.btn.btn-xs.btn-primary(ng-model="chartCtrl.rangeType", btn-radio="'year'" ng-change="chartCtrl.updateRangeType()") By year
				label.btn.btn-xs.btn-primary(ng-model="chartCtrl.rangeType", btn-radio="'dates'" ng-change="chartCtrl.updateRangeType()") By dates

		div(ng-if='chartCtrl.rangeType === "year"')
			label Year
			select.form-control(ng-model="chartCtrl.year" ng-change ='chartCtrl.drawCharts()')
				option(ng-repeat="year in chartCtrl.years") {{year}}
		div(ng-if='chartCtrl.rangeType === "dates"')
			label From
			input.form-control(type="text" placeholder='Start date' datepicker-popup="dd-MMMM-yyyy" ng-model="chartCtrl.startDate" is-open="startOpened" ng-change="chartCtrl.drawCharts()" close-text="Close" ng-click="startOpened = true" max-date="chartCtrl.endDate" required)
			label Till
			input.form-control(type="text" placeholder='End date' datepicker-popup="dd-MMMM-yyyy" ng-model="chartCtrl.endDate" is-open="endOpened" ng-change="chartCtrl.drawCharts()" close-text="Close" ng-click="endOpened = true" min-date="chartCtrl.startDate" required)

		div(ng-if='chartCtrl.rangeType === "year"')
			label Category
			select.form-control(name='Category', ng-model="chartCtrl.category", ng-options="category.name for category in chartCtrl.categories" ng-change ="chartCtrl.drawCharts()")
				option(value="") All categories

		label Currency
		select.form-control(ng-model="chartCtrl.currency" ng-change ='chartCtrl.drawCharts()')
			option UAH
			option USD
	br
	#charts
		#barChart(ng-init='chartCtrl.bars = true' ng-show='chartCtrl.bars')
		h3(ng-show='!chartCtrl.bars') No data for bars chart
		br
		#pieChart(ng-init='chartCtrl.pie = true' ng-show='chartCtrl.pie')
		h3(ng-show='!chartCtrl.bars') No data for pie chart
		h3 Categories budgets comparation by years (USD)
		table#table(ng-if='chartCtrl.years.length')
			thead
				tr
					th 
					th(ng-repeat='year in chartCtrl.years' ng-class='{current: (year == chartCtrl.currentYear)}')
						b {{year}}
			tbody
				tr(ng-repeat='name in chartCtrl.allCategories')
					th
						b {{ name }}
					td(ng-repeat='year in chartCtrl.years' ng-class='{current: (year == chartCtrl.currentYear)}')
						| {{chartCtrl.getSumBudget(name, year)}}
				tr
					th
						b Total
					td(ng-repeat='year in chartCtrl.years' ng-class='{current: (year == chartCtrl.currentYear)}')
						| {{chartCtrl.getSumYear(year)}}