#chart-view
	form.chart-Topcontainer(ng-submit="chartCtrl.handleForm()")
		.chart-leftBlock
			ul.chart-filterList
				li
					label Year
					select.form-control(ng-change="chartCtrl.getBudgetsByYear()", ng-model="chartCtrl.year")
						option(ng-repeat="year in chartCtrl.years") {{year}}
				li
					label Or range of dates 
					br
					label from
					input.form-control(type='date', placeholder='Date')
					label to
					input.form-control(type='date', placeholder='Date' )
				li
					label Category

			button.chart-butSum.btn.btn-info Dispay
	div.chartsBlock
		#barChart
		br
		#pieChart
		//- div(google-chart, chart="chartCtrl.pieChart", style="width: 100%; height: 400px")
		//- button.togTable.btn.btn-info(ng-click='chartCtrl.toggleTable()') Toggle table
		//- table(ng-hide='chartCtrl.viewTable') 
		//- 	thead
		//- 		tr
		//- 			th Category
		//- 			th Subcategory
		//- 			th Expenses
		//- 			th Total
		//- 	tbody
		//- 		tr(ng-repeat='category in chartCtrl.tableData')
		//- 			td(colspan ='{{ category.length }}') 
		//- 				| {{ category.name }}
		//- 			td
		//- 				table.innerTable
		//- 					tr(ng-repeat='subcategory in category.subcategories')
		//- 						td {{ subcategory }}
		//- 			td
		//- 				table.innerTable
		//- 					tr(ng-repeat='expens in category.expenses')
		//- 						td {{ expens }}
		//- 			td(colspan ='{category.length}') {{ category.total }}