#chart-view
	.chart-Topcontainer
		form.chart-leftBlock(ng-submit="chartCtrl.handleForm()")

				ul.chart-filterList
					li
						label Year
						select.form-control(ng-change="chartCtrl.getBudgetsByYear()", ng-model="chartCtrl.year")
							option(ng-repeat="year in chartCtrl.years") {{year}}
					li
						label Category
						select.form-control(name='Category', ng-model="categoryModel1", ng-change="chartCtrl.displayCategory(categoryModel1)",
						ng-options="category.name for category in chartCtrl.categories")
							option(value="") All category
				button.chart-butSum.btn.btn-info Dispay by year
	
		form
			.chart-rightBlock
				ul.chart-filterList
					li
						label Range of dates 
						br
						label from
						input.form-control(type='date', placeholder='Date', ng-model="startDate", ng-change="chartCtrl.startDateFilter(startDate)" required)
						label to
						input.form-control(type='date', placeholder='Date', ng-model="endDate", ng-change="chartCtrl.endDateFilter(endDate)" required)
					li
						label Category
						select.form-control(name='Category', ng-model="categoryModel", ng-submit="chartCtrl.displayCategory(categoryModel)",
						ng-options="category.name for category in chartCtrl.categories" required)
							option(value="") All category
				button.chart-butSum.btn.btn-info(ng-click='chartCtrl.displaySubcategory(categoryModel)') Dispay by period
	
	div.chartsBlock
		#barChart
		br
		#pieChart
		//- div(google-chart, chart="chartCtrl.pieChart", style="width: 100%; height: 400px")
		//- button.togTable.btn.btn-info(ng-click='chartCtrl.toggleTable()') Toggle table
		//- table(ng-hide='chartCtrl.viewTable') 
		//- 	thead
		//- 		tr
		//- 			th Category
		//- 			th Subcategory
		//- 			th Expenses
		//- 			th Total
		//- 	tbody
		//- 		tr(ng-repeat='category in chartCtrl.tableData')
		//- 			td(colspan ='{{ category.length }}') 
		//- 				| {{ category.name }}
		//- 			td
		//- 				table.innerTable
		//- 					tr(ng-repeat='subcategory in category.subcategories')
		//- 						td {{ subcategory }}
		//- 			td
		//- 				table.innerTable
		//- 					tr(ng-repeat='expens in category.expenses')
		//- 						td {{ expens }}
		//- 			td(colspan ='{category.length}') {{ category.total }}