#chart-view
	.chart-Topcontainer
		#currency-group.btn-group(ng-click="chartCtrl.changeCurrency(); chartCtrl.updateView()")
			label.btn.btn-xs.btn-primary(ng-model="chartCtrl.currencyChangeModel", btn-radio="'UAH'") UAH
			label.btn.btn-xs.btn-primary(ng-model="chartCtrl.currencyChangeModel", btn-radio="'USD'") USD
		
		form.chart-leftBlock(ng-submit="chartCtrl.handleForm();")

				ul.chart-filterList
					li
						label Year
						select.form-control(ng-model="chartCtrl.year" ng-change ='chartCtrl.getBudgets()')
							option(ng-repeat="year in chartCtrl.years") {{year}}
					li
						label Category
						select.form-control(name='Category', ng-model="categoryModel1", ng-options="category.name for category in chartCtrl.categories")
							option(value="") All categories
				button.chart-butSum.btn.btn-info(ng-click='chartCtrl.toggleForm(true); chartCtrl.displayCategory(categoryModel1)') Dispay by year
	
		form.bottomForm
			.chart-rightBlock
				ul.chart-filterList
					li
						label Range of dates 
						br
						label from
						input.form-control(type='date', placeholder='Date', ng-model="startDate", ng-change="chartCtrl.startDateFilter(startDate)" required)
						label to
						input.form-control(type='date', placeholder='Date', ng-model="endDate", ng-change="chartCtrl.endDateFilter(endDate)" required)
					li
						label Category
						select.form-control(name='Category', ng-model="categoryModel", ng-submit="chartCtrl.displayCategory(categoryModel)",
						ng-options="category.name for category in chartCtrl.categories" required)
							option(value="") Select Category
				button.chart-butSum.btn.btn-info(ng-click=' chartCtrl.toggleForm(false); chartCtrl.displaySubcategory(categoryModel)') Dispay by period
	
	div.chartsBlock
		#barChart
		br
		#pieChart
		h3 Budgets
		table(ng-hide='chartCtrl.viewTable') 
			thead
				tr
					th 
					th(ng-repeat='year in chartCtrl.years')
						b {{year}}
			tbody
				tr(ng-repeat='name in chartCtrl.uniqueName')
					th
						b {{ name }}
					td(ng-repeat='year in chartCtrl.years')
						| {{chartCtrl.getSumBudget(name, year) | currency}}
		
		//- h3 Expenses
		//- table(ng-hide='chartCtrl.viewTable') 
		//- 	thead
		//- 		tr
		//- 			th 
		//- 			th(ng-repeat='year in chartCtrl.years')
		//- 				b {{year}}
		//- 	tbody
		//- 		tr(ng-repeat='name in chartCtrl.uniqueName')
		//- 			th
		//- 				b {{ name }}
		//- 			td(ng-repeat='year in chartCtrl.years')
		//- 				| {{chartCtrl.getSumExpenses(name, year) | currency}}
