#administration-view
	div.controls
		input.form-control(type='text' placeholder='search user')
		b Category: 
		select.form-control(ng-model='admCtrl.category' required='required' ng-change='admCtrl.updateCategory()')
			option(ng-repeat='category in admCtrl.categories' value='{{category.name}}') {{category.name}}
		b Currency: 
		select.form-control(ng-model='admCtrl.currency' ng-change='admCtrl.updateCurrency()')
			option(value='UAH') UAH
			option(value='USD') USD
	table.table-hover
		thead
			tr
				th(colspan='2')
					b User
				th(colspan='3')
					b Permissions
				th(colspan='2')
					b Personal budget
			tr
				th
					b Name
				th
					b Role
				th
					b Read
				th
					b Post
				th
					b Admin
				th
					b Left
				th
					b Used
		tbody
			tr(ng-repeat='user in admCtrl.users')
				td {{user.name}}
				td
					a(href="#" editable-select="user.role" e-ng-options="role for role in admCtrl.roles") {{user.role}}
				td
					input(type='checkbox')
				td
					input(type='checkbox')
				td
					input(type='checkbox')
				td 800.00 
					a(href='' ng-click="admCtrl.addPersonalBudget(user)")
						i.fa.fa-plus
				td 200.00