#administration-view
	.alert.alert-warning(ng-show="currentUser.max_level < 3")
		i.fa.fa-exclamation-triangle.fa-2x
		h2 &nbsp;You don't have administration rights
	div(ng-hide="currentUser.max_level < 3")
		div.controls
			input.form-control(type='text' placeholder='search users' ng-model='admCtrl.filter.name')
			b.responsive-hide Category: 
			select.form-control(ng-model='admCtrl.category' ng-change='admCtrl.updateCategory()' ng-options='category.name for category in admCtrl.categories')
			b.responsive-hide Currency: 
			select.form-control(ng-model='admCtrl.currency' ng-change='admCtrl.updateCurrency()')
				option(value='UAH') UAH
				option(value='USD') USD
		table.table-hover
			thead
				tr
					th(colspan='2')
						b User
					th(rowspan='2')
						b Rights
					th.responsive-hide(colspan='2')
						b Personal budget
				tr
					th
						b Name
					th
						b Global admin
					th.responsive-hide
						b Left
					th.responsive-hide
						b Used
			tbody
				tr(ng-repeat='user in admCtrl.users | filter:admCtrl.filter' ng-class="{'this-is-me': currentUser.id == user.id}")
					td {{user.name}}
					td
						a(href="#" editable-checkbox="user.admin" e-title="Global admin?" ng-show="currentUser.admin" onaftersave="admCtrl.updateRole(user)") {{user.admin && "YES" || "NO" }}
						span(ng-show="!currentUser.admin") {{user.admin && "YES" || "NO" }}
					td
						a(href="#" editable-select="admCtrl.getUserCategory(user).level" ng-class="{bad: admCtrl.getUserCategory(user).level == 0}" ng-hide="user.admin" onaftersave="admCtrl.updateRights(user)" e-ng-options="permit.level as permit.text for permit in admCtrl.permits") {{admCtrl.permits[admCtrl.getUserCategory(user).level].text}}
						span(ng-show="user.admin") Global admin
					td.responsive-hide(ng-class="{bad: admCtrl.getUserCategory(user).left < 0}") {{admCtrl.getUserCategory(user).left/admCtrl.rate || 0 | currency:(admCtrl.currency + " ")}}
						span(ng-show="admCtrl.getUserCategory(user).level > 1")
							button.btn.btn-xs.btn-primary(ng-click='admCtrl.editPersonalBudget(user, true)') add
							button.btn.btn-xs.btn-danger(ng-click='admCtrl.editPersonalBudget(user, false)') take
					td.responsive-hide {{admCtrl.getUserCategory(user).used/admCtrl.rate | currency:(admCtrl.currency + " ")}}