#administration-view
	div.controls
		input.form-control(type='text' placeholder='search user' ng-model='admCtrl.filter.name')
		b Category: 
		select.form-control(ng-model='admCtrl.category' ng-change='admCtrl.updateCategory()' ng-options='category.name for category in admCtrl.categories')
		b Currency: 
		select.form-control(ng-model='admCtrl.currency' ng-change='admCtrl.updateCurrency()')
			option(value='UAH') UAH
			option(value='USD') USD
	table.table-hover
		thead
			tr
				th(colspan='2')
					b User
				th(colspan='3')
					b Permissions
				th(colspan='2')
					b Personal budget
			tr
				th
					b Name
				th
					b Role
				th
					b Read
				th
					b Post
				th
					b Admin
				th
					b Left
				th
					b Used
		tbody
			tr(ng-repeat='user in admCtrl.users | filter:admCtrl.filter')
				td {{user.name}}
				td
					a(href="#" editable-select="user.role" e-ng-options="role for role in admCtrl.roles") {{user.role}}
				td
					input(type='checkbox' ng-model='user.permissions[admCtrl.category.id]["read"]' ng-hide='user.role === "global admin"')
				td
					input(type='checkbox' ng-model='user.permissions[admCtrl.category.id]["post"]' ng-hide='user.role === "global admin"')
				td
					input(type='checkbox' ng-model='user.permissions[admCtrl.category.id]["admin"]' ng-hide='user.role === "global admin"')
				td {{user.budgets[0].budget - user.permissions[admCtrl.category.id].used | currency:(admCtrl.currency + " ")}} 
					a(href='' ng-click="admCtrl.addPersonalBudget(user)")
						i.fa.fa-plus
				td {{user.permissions[admCtrl.category.id].used/admCtrl.rate.rate | currency:(admCtrl.currency + " ")}}