#administration-view
	.alert.alert-warning(ng-show="currentUser.max_level < 3")
		i.fa.fa-exclamation-triangle.fa-2x
		h2 &nbsp;You don't have administration rights
	div(ng-hide="currentUser.max_level < 3")
		div.controls
			input.form-control(type='text' placeholder='search users' ng-model='admCtrl.filter.$')
			b.responsive-hide Currency: 
			select.form-control(ng-model='admCtrl.currency' ng-change='admCtrl.updateCurrency()')
				option(value='UAH') UAH
				option(value='USD') USD
		table.table-hover
			thead
				tr
					th(colspan='2')
						b User
					th
						b Category rights
					th.responsive-hide(colspan='3')
						b Personal budget
				tr
					th
						b Full name
					th
						b Accounting admin
					th
						select.form-control(ng-model='admCtrl.category' ng-change='admCtrl.updateCategory()' ng-options='category.name for category in admCtrl.categories')
					th.responsive-hide
						b Edit
					th.responsive-hide
						b Left
					th.responsive-hide
						b Used
			tbody
				tr(ng-repeat='user in admCtrl.users | filter:admCtrl.filter' ng-class="{'this-is-me': currentUser.global_id == user.serverUserId}")
					td {{user.name}} {{user.surname}}
						span(ng-if="currentUser.global_id == user.serverUserId")  (you)
					td
						a(href="#" editable-checkbox="user.admin" e-title="Accounting admin?" ng-show="currentUser.admin || currentUser.role == 'ADMIN'" onaftersave="admCtrl.updateRole(user)") {{user.admin && "YES" || "NO" }}
						span(ng-hide="currentUser.admin || currentUser.role == 'ADMIN'") {{user.admin && "YES" || "NO" }}
					td
						a(href="#" editable-select="admCtrl.getUserCategory(user).level" ng-class="{bad: admCtrl.getUserCategory(user).level == 0}" ng-hide="user.admin" onaftersave="admCtrl.updateRights(user)" e-ng-options="permit.level as permit.text for permit in admCtrl.permits") {{admCtrl.permits[admCtrl.getUserCategory(user).level].text}}
						span(ng-show="user.admin") Accounting admin
					td.responsive-hide
						button.btn.btn-xs.btn-primary(ng-click='admCtrl.editPersonalBudget(user, true)') add
						button.btn.btn-xs.btn-danger(ng-click='admCtrl.editPersonalBudget(user, false)') take
					td.responsive-hide(ng-class="{bad: user.budget.left < 0}") {{user.budget.left/admCtrl.rate || 0 | currency:(admCtrl.currency + " ")}}
						span(ng-show='user.budget.left < 0')  overuse!
					td.responsive-hide {{user.budget.used/admCtrl.rate || 0 | currency:(admCtrl.currency + " ")}}