#personal-view
	.alert.alert-warning(ng-show="currentUser.budgets.length == 0")
		i.fa.fa-exclamation-triangle.fa-2x
		h2 &nbsp;You do not have personal budget
	#main(ng-hide="personalCtrl.budgets.length == 0")
		table#income-table.table-hover.fixed
			colgroup
				col.table-category
				col.table-budget
				col.table-left
			thead
				tr
					th#income-header(colspan="3")
						| Personal budgets
				tr
					th.header-text
						| Category
					th.header-text
						| Left  
						#currency-group.btn-group(ng-click="personalCtrl.changeCurrency('left')")
							label.btn.btn-primary(ng-model="personalCtrl.currencyLeftModel", btn-radio="'UAH'") UAH
							label.btn.btn-primary(ng-model="personalCtrl.currencyLeftModel", btn-radio="'USD'") USD
					th.header-text
						| Spent  
						#currency-group.btn-group(ng-click="personalCtrl.changeCurrency('spent')")
							label.btn.btn-primary(ng-model="personalCtrl.currencySpentModel", btn-radio="'UAH'") UAH
							label.btn.btn-primary(ng-model="personalCtrl.currencySpentModel", btn-radio="'USD'") USD
			tbody
				tr(ng-repeat="budget in personalCtrl.budgets")
					td {{budget.categoryId}}
					td 
						span#budget-left {{budget.left | currency:""}}
					td 
						span#budget-spent {{budget.spent | currency:""}}
		table.table-hover.fixed
			colgroup
				col.table-edit
				col.table-expense
				col.table-cost
				col.table-carrency
				col.table-category
				col.table-sub
				col.table-description
			thead
				tr
					th#outcome-header(colspan="7")
						| Personal expenses
				tr
					th
						| Edit
					th
						| Expense
					th
						| Cost
					th
						| $ / &#8372;
					th
						| Category
					th
						| Subcategory
					th
						i.fa.fa-info-circle
		#tbody-container
			table#table-container.table-hover.fixed
				colgroup
					col.table-edit
					col.table-expense
					col.table-cost
					col.table-carrency
					col.table-category
					col.table-sub
					col.table-description
				tbody(ng-repeat="date in personalCtrl.dates")
					tr
						td
							i.fa.fa-chevron-right(ng-click="personalCtrl.toggleCustom($index)" ng-show="!personalCtrl.hiddenList[$index]")
							i.fa.fa-chevron-down(ng-click="personalCtrl.toggleCustom($index)" ng-hide="!personalCtrl.hiddenList[$index]")
						td(colspan='6')
							| {{date | date:"dd.MM.yyyy"}}
					tr(ng-repeat="expense in personalCtrl.getExpensesByDate(date)" ng-hide="!personalCtrl.hiddenList[$parent.$index]")
						td(style='white-space: nowrap')
							// form
							form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible', onaftersave="personalCtrl.editExpense(expense.id)", shown='inserted == expense')

								button.btn-xs.btn.btn-primary(type='submit', ng-disabled='rowform.$waiting')
									| save
								button#delete-button.btn-xs.btn.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
									| cancel
							.buttons(ng-show='!rowform.$visible')
								button.btn-xs.btn.btn-primary.edit-button(ng-click='rowform.$show()') edit
								button#delete-button.btn-xs.btn.btn-danger(ng-click="personalCtrl.deleteExpense(expense.id, expense.name)") delete
						td
							span(editable-text='expense.name', e-name='name', e-form='rowform', onaftersave='personalCtrl.editExpenseObject($data, "name")', onbeforesave="personalCtrl.checkField($data)", e-required="")
								| {{ expense.name  || 'empty' }}
						td
							span(editable-number='expense.price', e-name='price', e-form='rowform', onaftersave='personalCtrl.editExpenseObject($data, "price")', onbeforesave="personalCtrl.checkField($data)", e-required="")
								| {{ expense.price  || 'empty' }}
						td
							span(editable-select='expense.currency', e-name='currency', e-form='rowform', e-ng-options='currency for currency in personalCtrl.currency', onaftersave='personalCtrl.editExpenseObject($data, "currency")' e-required="")
								| {{ expense.currency }}
						td
							span(editable-select='expense.category.id', e-name='category.name', onshow="personalCtrl.getSubcategories($data)", e-form='rowform', onaftersave='personalCtrl.editExpenseObject($data, "categoryId")', e-ng-options='category.id as category.name for category in personalCtrl.categories' e-ng-change="personalCtrl.getSubcategories($data)", e-required="")
								| {{ personalCtrl.getField(expense.category.id, "category") || 'empty' }}
						td
							span(editable-select='expense.subcategory.id', e-name='subcategory.name', e-form='rowform', onaftersave='personalCtrl.editExpenseObject($data, "subcategoryId")', onbeforesave="personalCtrl.checkField($data)", e-ng-options='subcategory.id as subcategory.name for subcategory in personalCtrl.subcategories', e-required="")
								| {{ personalCtrl.getField(expense.subcategory.id, "subcategory") || expense.subcategory.name }}
						td.infoTd
							.btn-group(dropdown='')
								button.btn(type='button', dropdown-toggle='')
									i.fa.fa-info
								span.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='split-button') {{ expense.description }}
				tbody#load-more(ng-show="personalCtrl.isLoadMore()")
					tr
						td
						td(colspan='6')
							a(ng-click="personalCtrl.loadExpenses()")
								| load more expenses 
								i.fa.fa-plus
