#administration-view
	margin-top 50px
	.controls
		select, input
			width initial !important;
			display initial !important;
			margin 10px
			margin-left 0
	table
		width 100%
		td, th
			text-align center
			border 1px solid #ddd
			padding 10px
			vertical-align middle
			font-size 14px
		th
			background #f2f2f2
			font-weight normal
	.bad
		color red
	.good
		color green
	.this-is-me
		background #f2f2f2