#bin-view
	margin-top 50px
	#expenses-section
	#budgets-section
		select
			width initial !important;
			display initial !important;
		table
			margin-top 10px
			width 100%
			td, th
				text-align center
				border 1px solid #ddd
				padding 10px
				vertical-align middle
				font-size 14px
			th
				background #f2f2f2
				font-weight normal