#budgets-view
	table
		width 100%
		td, th
			text-align center
			border 1px solid #ddd
			padding 10px
		th
			background #f2f2f2
			font-weight normal
	.hide-me
		visibility hidden
	form
		float right
	input
		margin 10px
	input[type="submit"]
		margin-right 0
	.toggle-subcategory-btn,.review, a
		cursor pointer
