#budgets-view
	margin-top 50px
	table
		width 100%
		td, th
			text-align center
			border 1px solid #ddd
			padding 10px
			vertical-align middle
			font-size 14px
		th
			background #f2f2f2
			font-weight normal
	.hide-me
		visibility hidden
		input
			&[type="submit"]
				margin-right 0
	button
		margin-right 10px
		&:last-child
			margin-right 0
	i, a
		cursor pointer
	select
		padding 10px
		border-radius 5px
	.editCanges
		float right
		margin 10px
	.status-good
		color green
	.status-bad
		color: red
	.fa-chevron-right
		margin-right 10px
		padding-right 5px
	.fa-chevron-down
		margin-right 6px
		padding-right 5px
	td
		form, .buttons
			margin-right -25px
	#new-budget
		float left
		margin 10px
	button
		margin-right 10px
		&:last-child
			margin-right 0
	i, a
		cursor pointer