#chart-view
  margin 0
  padding 0
  border 1px solid red

.chart-Topcontainer
  width 60%
  margin 20px auto
  background #EBEDE7
  height 380px
  border-radius 20px

.chart-leftBlock
  float left
  width 46%

.chart-rightBlock
  float right
  width 46%
  padding-right 30px

li
  text-decoration none
  list-style none

.chart-filterList
  li
    margin-top 10px

.chart-butSum
  margin 10px 0
