#chart-view

	.chart-Topcontainer
		width 25%
		padding 0 22px
		right 30px
		top 60px
		position fixed

	.chartsBlock
		width 65%
		float left
		margin-top 60px
	.chart-butSum
		margin 10px 0
	h3
		text-align center
	table
		width 80%
		margin auto
		margin-bottom 50px
		background #FAFAFA
		td, th
			text-align center
			border 1px solid #ddd
			padding 10px
			vertical-align middle
			font-size 14px
			border-collapse collapse
		th
			background #EBEDE7
			font-weight normal
	.innerTable
		width 100%
	.togTable
		margin 0 50px 50px 50px
	.btn-info
		margin-left 40px
		float right
	.bottomForm
		margin-top 50px
	svg
		& > text
			&:last-child
				display none
	@media screen and (max-width: 680px)
		.chart-Topcontainer
			width 100%
			padding 0 22px
			margin 0 20px
			position relative

		.chartsBlock
			width 95%
		#pieChart
			margin-left 10px

		table, h3
			display none
