#chart-view
	margin 50px 0 0 0
	padding 0

.chart-Topcontainer
	width 60%
	margin 20px auto
	background #EBEDE7
	height 450px
	border-radius 20px

.chart-leftBlock
	float left
	width 46%

.chart-rightBlock
	float right
	width 46%
	padding-right 30px

li
	text-decoration none
	list-style none

.chart-filterList
	li
		margin-top 10px
.chartsBlock
	width 85%
	margin auto

.chart-butSum
	margin 10px 0

table
	width 80%
	margin auto
	background #FAFAFA
	td, th
		text-align center
		border 1px solid #ddd
		padding 2px
		vertical-align middle
		font-size 14px
		border-collapse collapse
	th
		background #EBEDE7
		font-weight normal
.innerTable
	width 100%
.togTable
	margin 0 50px 50px 50px