#expenses-view
  #expenses
    margin 0
    box-sizing border-box
    font-family Roboto, sans-serif
    background-color #fcfcfc
    text-align center

  #main, .filters
    margin-top 10px
    margin-right 320px

  table
    width 96%
    margin 0 2%
    border-collapse collapse

  tr, th, td
    border solid 1px #ddd

  td, th
    text-align center !important
    padding 10px 0

  tbody
    tr
      &:nth-child(odd)
        background-color #f2f2f2

  .table-expense
    width 22%

  .table-cost
    width 10%

  .table-category
    width 11%

  .table-sub
    width 22%

  .table-added
    width 20%

  .table-description
    width 4%
    border solid 1px #ddd

  .description
    color #1e88e5
    font-weight 700

  .load-more
    display inline-block
    background-color #f2f2f2
    margin 10px auto
    padding 15px
    border solid 1px #ddd
    border-radius 5px

  aside
    position absolute
    right 10px
    width 320px

  .exchange
    text-align center
    color #222222
    padding 12px 10px

  .exchange, .expense-form
    width 100%
    border solid 1px #ddd
    padding 10px
    margin-bottom 10px

  .expense-form input, .expense-form select, .expense-form textarea
    padding 10px
    font-size 1em
    border solid 1px #ddd
    border-radius 3px
    margin-bottom 10px
    background-color white
    color #A9A9A9
    float left

  .expense-form
    select
      //padding 9px 10px
      padding 11px 10px
    input[name="Name"]
      width 100%
    input[name="Cost"]
      width 77.5%
    select[name="Currency"]
      width 20%
      margin-left 2.5%
    textarea
      width 100%
    button
      color white
      font-size 1.2em
      font-weight 700
      border-radius 3px
      display block
      width 100%
      background-color #009688
      padding 9px 5px
      border none

  .expense-form  select[name="Category"], .expense-form input[name="Time"]
    width 48.75%

  .expense-form  select[name="Subcategory"], .expense-form input[name='Date']
    width 48.75%
    margin-left 2.5%

  .money-left
    float left
    width 100%
    margin-bottom 10px
    line-height 1.3
    vertical-align middle
    text-align left
    color #A9A9A9
    font-size 1em
    padding 10px
    border solid 1px #ddd
    border-radius 3px

  .green
    color #009688

  .form-preview
    display none
    width 96%
    margin 0 2%
    margin-bottom 10px
    padding 10px
    text-align center
    border solid 1px #ddd
    border-radius 3px

  .filters
    form
      width 96%
      margin 0 2%
      border solid 1px #ddd
      padding 10px
      height 60px
    button
      padding 9px 30px
      background-color rgb(0, 150, 136)
      color #FFF
      border none
      border-radius 3px
      margin-left 10px
      margin-top 1px
      font-weight 700

  .filters form select, .filters form input
    padding 10px
    font-size 1em
    border solid 1px #ddd
    border-radius 3px
    margin-bottom 10px
    background-color white
    color #A9A9A9
    float left
    margin-left 10px

  #mobile
    display none
    td
      border none
      text-align left
    ul
      list-style none

  #toggle
    background-color white
    span
      border-right solid 1px #ddd
      border-left solid 1px #ddd
      background-color #e2e2e2
      width 90%
      padding 10px
      display block
      margin 0 auto

  #toggle, #toggle td
    border solid 1px #fcfcfc
    padding 0

  .date-row
    background-color #e2e2e2
    font-weight 600

  @media (max-width: 1024px)
    aside, .filters
      width 100%
      position static

    .expense-form, .filters form
      display none

    #main
      margin 0

    .exchange
      width 100%
      border none

    .form-preview
      display block

  @media (max-width: 480px)
    table tr th nth-child(n+4)
      display none

    table tr td nth-child(n+4)
      display none

    #mobile
      display table-row

    #toggle
      display none

    .table-description
      width 10%

    .table-expense
      width 60%

    .table-cost
      width 30%

    #shortTable
      width 97%

    .shortTable
      tr
        td
          padding 5px
          border 1px solid #999
        &:first-child
          background #ccc

