#history-view
	margin-top 50px

	.select-type
		padding 5px
		font-size: 1em;
		border solid 1px #ddd
		border-radius 3px
		margin-bottom 10px
		background-color #fff
		color #a9a9a9

	table
		width 100%
		td, th
			text-align center
			border 1px solid #ddd
			padding 10px
			vertical-align middle
			font-size 14px

		th
			background #f2f2f2
			padding 0
			span
				cursor pointer
	button
		display block
		margin 5px auto
		color white
		font-size 1.2em
		background-color #009688
		padding 9px 5px
		border none
		width 100%
		border-radius 3px
	@media screen and (max-width: 320px)
		.col-hide
			display none
