#menu-view
	body
		min-width 320px
		max-width 1920px
	h2
		margin-top 10px

	// header
	// 	line-height 50px
	// 	background #1E88E5
	// 	position fixed
	// 	width 100%
	// 	height 52px
	// 	z-index 9999

	nav
		margin-top 70px
		width 200px
		float left
		position fixed
		top 0
		bottom 0
		ul
			height 100%

	main
		max-width 1920px
		margin-left 200px
		padding 5px
		margin-top -40px

	#page-name
		text-align center
		font-size 30px
		color white
		font-weight 700
		padding-right 125px
		margin-left 45px
	
	#user-info
		font-size 15px
		font-weight 600
		color white
		position absolute
		top 0
		right 10px
		cursor pointer
		a
			color white
			text-decoration none
	#menu-btn
		color white
		font-size 29px
		padding 0 10px
		position absolute
		top 10px
		left 0
		cursor pointer
		display none

	.nav-tabs
		border none
		& > li
			float none

	.nav-tabs
		& > li
			& > a ,.nav-tabs 
				border none
				border-radius 0
	.active-tab
		background -webkit-linear-gradient(left, #e2e2e2 0%,#fefefe 100%)

	.nav>li>a:focus, .nav>li>a:hover
		background -webkit-linear-gradient(left, #e2e2e2 0%,#fefefe 100%);
	.showMenu
		display initial !important
		
	@media screen and (max-width: 1235px)
		main
			margin-left 0
		.menu-active
			display none
		nav
			display initial
			width 100%
			margin-top 0
			float none
			top 0
			border-bottom 1px solid #ddd
			position relative
			top 33px
		ul
			display inline-flex
		.active-tab
			background -webkit-linear-gradient(top, #e2e2e2 0%,#fefefe 100%)

		.nav>li>a:focus, .nav>li>a:hover
			background -webkit-linear-gradient(top, #e2e2e2 0%,#fefefe 100%)

	@media screen and (max-width: 680px)
		#menu-btn
			display block
		nav
			display none
			top 52px
			position fixed
			height 276px
			z-index 9
			.nav
				li
					a
						color #666
						border-top 1px solid #eee
						border-left 3px solid transparent
						background #fff
						&:hover
							color #333
							border-left 3px solid #1E88E5
							background #f0f0f0
					&:first-child
						a
							border-top none
			.active-tab
					background #f0f0f0
		ul
			display block
		h2
			display none