#menu-view
	body
		min-width 320px
		max-width 1920px
	
	header
		line-height 50px
		background #89b1b1
		position fixed
		width 100%
		z-index 9999
	
	nav
		margin-top 50px
		width 200px
		float left
		position fixed
		//height 100%
		top 0
		bottom 0
		ul
			height 100%
	
	main
		max-width 1920px
		margin-left 200px
		//margin-top 50px
		//float left
		padding 5px
		//position absolute
		//top 0
		//right 0
	
	#page-name
		text-align center
		font-size 30px
		color white
		padding-right 125px
		margin-left 45px
	
	#user-info
		font-size 15px
		font-weight 600
		color white
		position absolute
		top 0
		right 10px
		cursor pointer
	
	#user-logo
		border 1px solid white
	
	#menu-btn
		color white
		font-size 29px
		padding 0 10px
		position absolute
		top 10px
		left 0
		cursor pointer
		display none

	.nav-tabs
		& > li
			float none

	.nav-tabs
		& > li
			& > a ,.nav-tabs 
				border none

	.nav>li>a:focus, .nav>li>a:hover
		background -webkit-linear-gradient(left, #e2e2e2 0%,#fefefe 100%);

	.nav-tabs 
		border none
	@media screen and (max-width: 1235px)
		main
			margin-left 0
		.menu-active
			display none
		nav
			width 100%
			margin-top 0
			float none
			top 0
			border-bottom 1px solid #ddd
			position relative
			top 50px
		ul
			display inline-flex
		#menu-btn
			display block
		.nav>li>a:focus, .nav>li>a:hover
			background -webkit-linear-gradient(top, #e2e2e2 0%,#fefefe 100%);
	//@media screen and (max-width: 480px)

