body
  padding: 0
  margin: 0

.tabs-left,.tabs-right
  border-bottom none
  padding-top 2px

.tabs-left
  border-right 1px solid #ddd
  & > li
    margin-right -1px
    & > a
      border-radius 4px 0 0 4px
      margin-right 0
      display block

.tabs-right
  border-left 1px solid #ddd
  & > li
    margin-left -1px
    & > a
      border-radius 0 4px 4px 0
      margin-right 0

.tabs-left>li,.tabs-right>li
  float none
  margin-bottom 2px

.tabs-left>li.active>a,.tabs-left>li.active>a:focus,.tabs-left>li.active>a:hover
  border-bottom-color #ddd
  border-right-color transparent

.tabs-right>li.active>a,.tabs-right>li.active>a:focus,.tabs-right>li.active>a:hover
  border-bottom 1px solid #ddd
  border-left-color transparent

.sideways
  margin-top 50px
  border none
  position relative
  & > li
    height 20px
    width 120px
    margin-bottom 100px
    & > a
      border-bottom 1px solid #ddd
      border-right-color transparent
      text-align center
      border-radius 4px 4px 0 0
  &.tabs-left
    left -50px
    & > li
      -webkit-transform rotate(-90deg)
      -moz-transform rotate(-90deg)
      -ms-transform rotate(-90deg)
      -o-transform rotate(-90deg)
      transform rotate(-90deg)
  &.tabs-right
    right -50px
    & > li
      -webkit-transform rotate(90deg)
      -moz-transform rotate(90deg)
      -ms-transform rotate(90deg)
      -o-transform rotate(90deg)
      transform rotate(90deg)

.sideways>li.active>a,.sideways>li.active>a:focus,.sideways>li.active>a:hover
  border-bottom-color transparent
  border-right-color #ddd
  border-left-color #ddd

body
  min-width 320px
  max-width 1920px

header
  line-height 50px
  background #89b1b1

nav
  margin-top 50px
  width 200px
  float left
  position absolute
  //height 100%
  top 0
  bottom 0
  width 100%
  display none
  margin-top 0
  float none
  top 0
  border-bottom 1px solid #ddd
  position relative
  ul
    height 100%

main
  max-width 1920px
  margin-left 200px
  margin-top -285px
  margin-right 90px
  //margin-top 50px
  //float left
  padding 5px
  //position absolute
  //top 0
  //right 0
  &::after
    content "owner desktop view"
    font-size 3em
    color green
    content "owner tablet view"
    font-size 3em
    color green

#page-name
  text-align center
  font-size 30px
  color white
  padding-right 125px
  margin-left 45px

#user-info
  font-size 15px
  font-weight 600
  color white
  position absolute
  top 0
  right 10px
  cursor pointer

#user-logo
  border 1px solid white

#menu-btn
  color white
  font-size 29px
  padding 0 10px
  position absolute
  top 10px
  left 0
  cursor pointer
  display none
  display block


.no-mobile-view
  display none

#user-administration
  input
    padding-left 5px
    border 1px solid #ddd

#users
  list-style none
  padding 0
  margin 0 -10px
  width: 197px
  li
    width 204px
    border-bottom 1px solid #ddd
    padding 5px
    cursor pointer
    padding 10px 20px
    margin 0 -7px

.active
  background #ddd

.icon
  position absolute
  top 17px
  right 17px
  color #333

.item
  margin 5px 13px
  &::after
    content ""
    display block
    clear both

.subitem
  float left

.name
  width 90px

.wrapper
  border-bottom 1px solid #ddd
  background #f2f2f2
  margin-right -1px
  padding-top 3px

.m, .a
  color #333
  background #ccc
  width 20px
  border-radius 50%
  text-align center
  //border 1px solid #333
  cursor pointer

input[type="checkbox"]
  cursor pointer

.m
  margin-left 3px

.a
  margin-left 19px

.man
  margin-left 6px !important

.adm
  margin-left 27px !important

.hidee
  visibility hidden

