#personal-view
	margin-top 50px
	h2
		display inline
		
	#income-header
		background lightgreen
		font-weight 700
	#outcome-header
		background darksalmon
		font-weight 700
	#income-table
		margin-bottom 5px
		margin-top 5px
	#budget-left
		color #008000
		font-weight 700
	#budget-spent
		color #f00
		font-weight 700
	#currency-group
		.btn
			font-size 10px !important
			padding 0px 8px 0px 8px !important
		.btn-primary
			background-color #fff !important
			color #337ab7 !important
			border-color #ddd !important
		.active
			color #fff !important
			background-color #286090 !important
			border-color #204d74 !important
			
	#income-money-table
		margin-bottom 5px
	#income-money-header
		background goldenrod
		font-weight 700
			
	.alert
		margin-bottom 10px !important
	
	// New money form
	#money-form
		display inline-block
		margin-bottom 5px
		margin-right 5px
		div
			padding 5px
		.title
			display inline-block
			font-weight bold
			min-width 80px
		.editable
			display inline-block
			padding-top 5px
			vertical-align top
		select 
			width 196px
		#button-group
			padding 0 !important
			margin-bottom 5px
			.action-button
				width 60%
			#cancel-button
				width 38%
				margin-left 5px
		#add-button
			margin-right 5px
		
	table
		width 100%
		td, th
			text-align center
			border 1px solid #ddd
			padding 3px
			vertical-align middle
			font-size 14px

		th
			background #f2f2f2
			font-weight 700
			span
				cursor pointer
	.table-container
		overflow-y auto
		max-height 300px !important
		.btn
			margin-left: 4px;
	button
		&:last-child
			margin-right 0
	i, a
		cursor pointer
	select
		padding 10px
		border-radius 5px
	.dropdown-menu
		padding 10px
	
	.table-date,
	.table-expense,
	.table-cost,
	.table-carrency,
	.table-category,
	.table-sub,
	.table-addBy
		width 100px
	.table-description
		width 86px
	.table-description-header
		width 100px
	.table-date-header
		width 70px
	.table-toggle
		width 30px
	select
		height 36px
	.fa-info
		padding 0 8px
	.buttons, .form-inline
		display inline-block
	.date-hilight
		font-weight bold
		background #EAE9FF
	.fa-th, .fa-list 
		border none 
		padding 4px
		border-radius 3px;
		
	.table-money-date
		width 300px
	.table-money-category
		width 230px
	.table-money-amount
		width 280px