#user-view
	#creteForm
		float right
		width 20%
		margin-top 84px

	#usersTable
		width 75%
		margin-top 60px
		float left

	table
		width 100%
		margin 20px 0

	td, th
		text-align center
		border 1px solid #ddd
		padding 10px
		vertical-align middle
		font-size 14px

	th
		background #f2f2f2
		font-weight bold

	label
		width 100px

	.form-control
		width 170px
		height 25px
		margin 5px
		display inline

	.btn-success
		margin 10px 0
