#budgets-view
	button.btn.btn-primary#new-budget(type='button' ng-click="budCtrl.createNewBudget()") create new budget {{budCtrl.years[0] + 1}}
	table.table-hover
		col(width='150')
		col(width='250')
		thead
			tr
				th(colspan='2')
					b Category
				th
					b Budget
				th
					b Used
			tr
				td(colspan='2')
					select#years(ng-model='budCtrl.year', ng-change="budCtrl.updateYear()")
						option(ng-repeat='year in budCtrl.years', value='{{year}}') {{year}}
				td
					b {{budCtrl.annualBudget | currency}}
					br
					span(ng-class="{'status-good': budCtrl.annualUndistributed > 0, 'status-bad': budCtrl.annualUndistributed < 0}") {{budCtrl.annualUndistributed | currency}} 
					| undistributed
				td
					b {{budCtrl.annualUsed | currency}}
					br
					span(ng-class="{'status-good': (budCtrl.annualBudget - budCtrl.annualUsed > 0), 'status-bad': (budCtrl.annualBudget - budCtrl.annualUsed < 0)}") {{budCtrl.annualBudget - budCtrl.annualUsed | currency}} 
					| left

		tbody(ng-repeat='budget in budCtrl.budgets')
			tr
				th(class="review" )
					form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible', shown='inserted == budget.category' onaftersave="budCtrl.sendData(budget.category)")
						i.fa.fa-chevron-right(ng-click="budCtrl.toggleCustom($index)" ng-show="!budCtrl.hiddenList[$index]")
						i.fa.fa-chevron-down(ng-click="budCtrl.toggleCustom($index)" ng-hide="!budCtrl.hiddenList[$index]")
						button.btn.btn-xs.btn-primary(type='submit', ng-disabled='rowform.$waiting')
							| save
						button.btn.btn-xs.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
							| cancel
					.buttons(ng-show='!rowform.$visible')
						i.fa.fa-chevron-right(ng-click="budCtrl.toggleCustom($index)" ng-show="!budCtrl.hiddenList[$index]")
						i.fa.fa-chevron-down(ng-click="budCtrl.toggleCustom($index)" ng-hide="!budCtrl.hiddenList[$index]")
						button.btn.btn-xs.btn-primary(ng-click='rowform.$show()') edit
						button.btn.btn-xs.btn-danger(ng-click='budCtrl.deleteCategory(budget.category)') del
				th
					span(editable-text='budget.category.name' name='name' e-form='rowform' onbeforesave='budCtrl.checkName($data, budget.category)') {{budget.category.name || 'Unnamed category'}}
				th
					b(editable-number='budget.category.budget' name='budget' e-form='rowform' onbeforesave='budCtrl.checkBudget($data, budget.category)') {{budget.category.budget || '0' | currency}}
					br
					span(ng-class="{'status-good': (budget.category.undistributed > 0), 'status-bad': (budget.category.undistributed < 0)}") {{budget.category.undistributed | currency}} 
					| undistributed
				th 
					b {{budget.category.used | currency}}
					br
					span(ng-class="{'status-good': (budget.category.budget - budget.category.used > 0), 'status-bad': (budget.category.budget - budget.category.used < 0)}") {{budget.category.budget - budget.category.used | currency}} 
					| left



			tr.hide-list(ng-repeat='subcategory in budget.category.subcategories' ng-hide="!budCtrl.hiddenList[$parent.$index]")
				td
					form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible',	shown='inserted == subcategory' onaftersave="budCtrl.sendData(budget.category, subcategory)")
						button.btn.btn-xs.btn-primary(type='submit', ng-disabled='rowform.$waiting')
							| save
						button.btn.btn-xs.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
							| cancel
					.buttons(ng-show='!rowform.$visible')
						button.btn.btn-xs.btn-primary(ng-click='rowform.$show()') edit
						button.btn.btn-xs.btn-danger(ng-click='budCtrl.deleteSubcategory(budget.category, subcategory)') del
				td
					span(editable-text='subcategory.name', e-name='subcategory.name', e-form='rowform' onbeforesave='budCtrl.checkName($data, budget.category, subcategory)')
						|{{subcategory.name || 'Unnamed subcategory' }}
				td
					span(editable-number='subcategory.budget', e-name='subcategory.budget', e-form='rowform' onbeforesave='budCtrl.checkBudget($data, budget.category, subcategory)')
						b {{ subcategory.budget || '0' | currency }}
				td 
					b {{subcategory.used | currency}} 
					br
					span(ng-class="{'status-good': (subcategory.budget - subcategory.used > 0), 'status-bad': (subcategory.budget - subcategory.used < 0)}") {{subcategory.budget - subcategory.used | currency}} 
					| left
				
			tr(ng-hide="!budCtrl.hiddenList[$index]")
				td(colspan='4')
					a(ng-click="budCtrl.addSubcategory(budget.category)")
						| new subcategory in {{budget.category.name}} 
						i.fa.fa-plus 
		tbody
			tr
				td(colspan='4')
					a(ng-click="budCtrl.addCategory()")
						| new category in year {{budCtrl.year}} 
						i.fa.fa-plus
