#budgets-view
	form
		input.btn.btn-primary(type='submit', value='save changes')
		input.btn.btn-danger(type='button', value='discard changes')
	table
		col(width='40')
		tr
			th(colspan='2')
				b
					| Category
					i.fa.fa-caret-down
			th
				b
					| Budget
					i.fa.fa-caret-down
			th
				b
					| Used
					i.fa.fa-caret-down
		tr
			td(colspan='2')
				select
					option(ng-repeat1='year in years', value='2015') Volvo
			td {Budget}
			td {Used}
		tr(ng-repeat1='category in categories')
			th.toggle-subcategory-btn
				i.fa.fa-caret-down
			th {category.name}
			th {category.budget}
			th {category.used}
			tr(ng-repeat1='subcategory in subcategories')
				td.hide-me hide me
				td {subcategory.name}
				td {subcategory.budget}
				td {subcategory.used}
		tr
			td.hide-me hide me
			th(colspan='3') add new sub cat
		tr
			th(colspan='4') add new cat
