#budgets-view
	form
		input.btn.btn-primary(type='submit', value='save changes')
		input.btn.btn-danger(type='button', value='discard changes')
	table
		col(width='40')
		thead
			tr
				th(colspan='2')
					b
						| Category 
						i.fa.fa-caret-down
				th
					b
						| Budget 
						i.fa.fa-caret-down
				th
					b
						| Used 
						i.fa.fa-caret-down
			tr
				td(colspan='2')
					select#years(ng-model='budCtrl.year', ng-change="budCtrl.updateYear()")
						option(ng-repeat='year in budCtrl.years', value='{{year}}') {{year}}
				td {{budCtrl.budgetSum | currency}}
				td {Used}
		tbody(ng-repeat='category in budCtrl.categories')
			tr
				th.toggle-subcategory-btn
					i.fa.fa-caret-down
				th(editable-text="category.name") {{category.name}}
				th {{category.budget | currency}}
				th {{category.used}}
			tr(ng-repeat='subcategory in category.subcategories')
				td hide me
				td {{subcategory.name}}
				td {{subcategory.budget | currency}}
				td {{subcategory.used}}
			tr
				td.hide-me hide me
				th(colspan='3') add new sub cat
		tbody
			tr
				th(colspan='4') add new cat
