#history-view
	.alert.alert-warning(ng-if="!isAdmin()")
		i.fa.fa-exclamation-triangle.fa-2x
		h2 &nbsp;You don't have administration rights
	div(ng-if="isAdmin()")
		lablel Section:&nbsp;
		select.select-type(name='Type', ng-model="hstCtrl.type", ng-change='hstCtrl.getEvents(hstCtrl.type, hstCtrl.limit)')
			option(ng-repeat='type in hstCtrl.types', value='{{type}}') {{type}}
		table
			thead
				tr
					th(ng-hide='hstCtrl.type != "All"')
						span(ng-click="hstCtrl.order('type')") Section&nbsp;
							span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'type' && !hstCtrl.reverse")
							span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'type' && hstCtrl.reverse")
							span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'type'")
					th
						span(ng-click="hstCtrl.order('who')") User&nbsp;
							span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'who' && !hstCtrl.reverse")
							span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'who' && hstCtrl.reverse")
							span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'who'")
					th
						span(ng-click="hstCtrl.order('action')") Action&nbsp;
							span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'action' && !hstCtrl.reverse")
							span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'action' && hstCtrl.reverse")
							span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'action'")
					th
						span(ng-click="hstCtrl.order('target')") Name&nbsp;
							span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'target' && !hstCtrl.reverse")
							span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'target' && hstCtrl.reverse")
							span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'target'")
					th.col-hide
						span(ng-click="hstCtrl.order('time')") Date&nbsp;
							span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'time' && !hstCtrl.reverse")
							span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'time' && hstCtrl.reverse")
							span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'time'")

			tbody(ng-repeat='event in hstCtrl.events | orderBy: hstCtrl.predicate : hstCtrl.reverse | limitTo: hstCtrl.limit')
				tr
					td(ng-hide='hstCtrl.type != "All"') {{event.type}}
					td {{event.who}}
					td {{event.action}}
					td {{event.target}}
					td.col-hide {{event.time | date:'HH:mm dd.MM.yyyy'}}
			tbody(ng-hide="hstCtrl.events.length <= hstCtrl.limit")
				tr
					td(colspan='5')
						a(ng-click="hstCtrl.limit = hstCtrl.limit + 30")
							| Load more