#history-view
	lablel Section:&nbsp;
	select.select-type(name='Type', ng-model="hstCtrl.type", ng-change='hstCtrl.getEvents(hstCtrl.type, hstCtrl.limit)')
		option(ng-repeat='type in hstCtrl.types', value='{{type}}') {{type}}
	table
		thead
			tr
				th.history-col-user
					span(ng-click="hstCtrl.order('who')") User&nbsp;
						span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'who' && !hstCtrl.reverse")
						span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'who' && hstCtrl.reverse")
						span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'who'")
				th.history-col-action
					span(ng-click="hstCtrl.order('action')") Action&nbsp;
						span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'action' && !hstCtrl.reverse")
						span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'action' && hstCtrl.reverse")
						span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'action'")
				th.history-col-name
					span(ng-click="hstCtrl.order('target')") Name&nbsp;
						span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'target' && !hstCtrl.reverse")
						span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'target' && hstCtrl.reverse")
						span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'target'")
				th.history-col-date
					span(ng-click="hstCtrl.order('time')") Date&nbsp;
						span.fa.fa-caret-down(ng-show="hstCtrl.predicate == 'time' && !hstCtrl.reverse")
						span.fa.fa-caret-up(ng-show="hstCtrl.predicate == 'time' && hstCtrl.reverse")
						span.fa.fa-sort(ng-hide="hstCtrl.predicate == 'time'")

		tbody(ng-repeat='event in hstCtrl.events | limitTo: hstCtrl.limit | orderBy: hstCtrl.predicate : hstCtrl.reverse')
			tr
				td {{event.who}}
				td {{event.action}}
				td {{event.target}}
				td {{event.time | date:'HH:mm dd.MM.yyyy'}}
		tbody(ng-hide="hstCtrl.events.length <= hstCtrl.limit")
			tr
				td(colspan='4')
					a(ng-click="hstCtrl.limit = hstCtrl.limit + 30")
						| Load more